.row {
  max-width: $row-width;
  margin: 0 auto;
  clear: both;
  padding: 0 1em;

  &.extend {
    max-width: $max-width-page;

    &.extra {
      max-width: $extra-max-width;
    }
  }

  &.full {
    padding: 0;
  }

  .container {
    max-width: $container-width;
    margin: 0 auto;

    &.xlarge {
      max-width: 90%;
    }
  }
}

.microsite {
  .content-section {
    overflow: hidden
  }

  .main-container {
    margin-bottom: 2rem;
  }
}

.col {
  max-width: 100%;
}

.microsite {
  &.xlarge {
    .row.extend {
      max-width: $xlarge-row;
    }
    .row .container {
      max-width: $xlarge-container;
    }
  }
  
  &.large {
    .row.extend {
      max-width: $large-row;
    }
    .row .container {
      max-width: $large-container;
    }
  }
}