.related-content {
  padding-top: 2rem;

  .related-inner {
    justify-content: left;

    > div {
      margin-top: 0;
      padding-bottom: 0;
    }

    & > div {
      margin-top: 1.4rem;
      padding-bottom: .9rem;
    }
  }

  h5 {
    margin-top: 1.6rem;
    margin-bottom: .8rem;
  }

  .multiline {
    margin-bottom: .5rem;
  }

  &.related-content-chronology {
    .multiline {
      @media #{$gl-xs} {
        display: inline-block;
        width: 49%;
      }
    }
  }
}

.tabs {
  text-align: center;

  &.more {
    position: absolute;
    bottom: -1.2rem;
    left: calc(96% / 2);
  }

  .tabs-inner {
    & > .col {
      padding-bottom: 0;
    }
  }



  .tab11-xao:checked ~ .content11-xao,
  .tab12-xao:checked ~ .content12-xao {
    background: $grey15;
    display: block;
  }

  section {
    position: relative;
    display: none;
    text-align: left;
    padding: 2.77777rem 0 2.77777rem 3.45rem;

    @media #{$gl-sm} {
      padding: 2.3rem 4rem;
    }
    @media #{$gl-xs} {
      padding: 2.3rem 2rem;
    }
  }

  input {
    display: none;
  }

  label {
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 -2px;
    padding: .3rem .8rem;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;

    &::before {
      margin-right: 2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  input:checked + label {
    color: currentColor;
    border: 1px solid $grey15;
    border-top: 2px solid $secondary;
    border-bottom: 1px solid $white;
  }

  .tab1:checked ~ .content1,
  .tab2:checked ~ .content2,
  .tab3:checked ~ .content3,
  .tab4:checked ~ .content4,
  .tab5:checked ~ .content5,
  .tab6:checked ~ .content6 {
    display: block;
  }

  @media screen and (max-width: 750px) {
    label {
      max-width: 12em;
    }
  }

  @media screen and (max-width: 400px) {
    label {
      padding: 15px;
      max-width: 9em;
    }
  }

  &.colored {
    input:checked + label {
      background: $grey15;
      border: 0;
    }

    .tab-entry {
      position: relative;
      border-bottom: 3px solid $white;
      margin: 0 ($gl-gutter / 2);
      padding-bottom: 1.6666rem;

      & > * {
        margin-left: -($gl-gutter / 2);
        margin-right: -($gl-gutter / 2);
        margin-top: 0;
        margin-bottom: 0;
      }

      @media #{$gl-xs} {
        padding-right: 0;
      }

      p {
        @include fontsectra;
        margin-top: .5rem;
        margin-bottom: 0;
      }

      a {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: $gutter-s;
        padding-bottom: $gutter-s;
      }

      &:first-child {
        border-top: 3px solid $white;
      }

      &:nth-child(2) {
        border-top: 0;

        @media #{$gl-sm-plus} {
          border-top: 3px solid $white;
        }
      }
    }
  }
}

.nav {
  &-mobile {
    position: relative;
    z-index: map-get($z-index, 'accordeon-nav');

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 3rem;
      width: 100%;
      z-index: map-get($z-index, 'stage-background');
      background: $primarydarken;
    }

    textarea,
    input,
    button {
      border: 0;
      background: transparent;
      text-transform: uppercase;
      font-weight: 900;
      color: $secondary;

      &:focus {
        outline: none;
      }
    }

    .hamburger {
      font: inherit;
      display: inline-block;
      overflow: visible;
      margin: 0;
      padding: 0;
      cursor: pointer;
      transition-timing-function: linear;
      transition-duration: .15s;
      transition-property: opacity, filter;
      text-transform: none;
      color: inherit;
      border: 0;
      background-color: transparent;

      &:hover {
        opacity: .95;
      }

      &-label {
        float: right;
        line-height: 3rem;
        height: 3rem;
      }

      &-squeeze {
        .hamburger-inner {
          transition-timing-function: cubic-bezier(.55, .055, .675, .19);
          transition-duration: 75ms;

          &::before {
            transition: top 75ms ease .12s, opacity 75ms ease;
          }

          &::after {
            transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
          }
        }
      }
    }

    &-list input[type='checkbox']:checked + label + ul,
    input.nav-mobile-check:checked ~ .nav-mobile-list {
      max-height: 1000px;
    }

    input.nav-mobile-check:checked ~ .nav-search {
      display: block;
    }

    input.nav-mobile-check:checked ~ .nav-languageswitch {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    &-list {
      clear: both;
      padding-top: 2rem;

      a,
      label {
        display: block;
        text-transform: uppercase;
        transition: .15s;
        font-weight: 700;
        padding: 0 .9rem;
        line-height: 3rem;
        color: $primary;
      }

      & i {
        line-height: 1.6;
      }

      a:focus,
      a:hover,
      label:focus,
      label:hover {
        background-color: $secondary;

        &,
        i::after {
          color: $white;
        }
      }

      label {
        cursor: pointer;
      }

      label > i {
        will-change: transform, float;
        transform: rotate(180deg);
        float: right;
        line-height: 3rem;
        transition: transform .65s ease;
      }

      input[type='checkbox']:checked + label {
        background: $secondary;
        left: initial;
        bottom: initial;
      }

      input[type='checkbox']:checked + label > i {
        transform: rotate(0);

        &::after {
          content: '\e902';
        }
      }

      &-mobile-group {

        li {
          border-top: solid 3px $grey50;
          padding: $gutter-l 0;
          position: relative;

          header {
            @media #{$gl-xs} {
              text-align: center;
            }

            &.col {
              padding: 0;
            }
          }

          h3,
          .h3 {
            margin: 0;
          }

          section {

            header {
              @media #{$gl-xs} {
                text-align: left;
              }
            }

            q {
              quotes: '»' '«' '›' '‹';
              padding: 0 $gutter-s;
            }

            .accordion-content {
              padding-top: 0;
            }

            input.accordion-helper {
              &:checked ~ .accordion-content {
                max-height: 1500px;
                padding-top: $gutter-xl;
              }

              &:checked + label {
                background: none;

                i {
                  &::after {
                    content: '\e912';
                  }
                }
              }
            }
          }

          &:last-child {
            border-bottom: solid 3px $grey50;
          }

          ul {
            li,
            li:last-child {
              border: 0;
              padding: 0;
            }
          }
        }

        .mobile-links {
          display: inline-block;

          a {
            padding: 0;
            line-height: $gutter-m;

            span {
              margin-right: 0;
              margin-left: $gutter-sm;
            }

            &:hover {
              color: $secondary;
              background-color: transparent;
            }
          }

          li:first-child {
            a span {
              margin-left: 0;
            }
          }
        }
      }
    }

    &-group-list {
      a {
        padding-left: 2.5rem;
        font-weight: normal;
      }

      label {
        padding-left: 0;
        font-weight: normal;
      }
    }

    &-sub-group-list a {
      font-weight: normal;
      padding-left: 4rem;
    }

    &-sub-group-list label {
      font-weight: normal;
      padding-left: 0;
    }

    &-sub-sub-group-list a,
    &-sub-sub-group-list label {
      padding-left: 6rem;
    }

    &-group-list,
    &-list,
    &-sub-group-list,
    &-sub-sub-group-list,
    &-list-accord-group .accordion-content {
      will-change: max-height, height;
      height: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height .2s;
    }

    &-list-accord-group {
      max-height: none;

      .accordion-content {
        transition: max-height .1s, padding-top .1s;
      }
    }
  }

  &-languageswitch {
    padding-left: .9rem;
    position: absolute;
    top: 1rem;

    ul {
      line-height: 1rem;

      li {
        display: inline;
        line-height: 1rem;

        a {
          display: inline;
        }
      }
    }
  }

  &-search {
    display: none;
    line-height: 3rem;
    padding-left: .9rem;

    i {
      font-size: 1.4rem;
      vertical-align: middle;
      margin-right: .5rem;
    }

    .search-input {
      width: 30%;

      &.search-input-wider {
        width: 80%;
      }
    }
  }

  &-flyout {
    &,
    &-list {
      background: transparent;
    }

    @each $colorname, $colorcode in $color-index {
      &.bg-#{$colorname} {
        .nav-flyout-sub-nav {
          background-color: $primary;
        }

        a {
          width: calc(100% + 4px);
        }

        a.hover,
        a:hover,
        a.open,
        a:focus {
          background-color: $primary;
          color: $white;

          span {
            border-color: transparent;
          }
        }
      }
    }

    .grid-center > div {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 0 5% 0 0;

      & + div {
        padding: 0 0 0 5%;
        border-left: 3px solid $grey25;
      }
    }

    &-list {
      display: block;
      position: relative;
      list-style: none;
      text-align: center;
      z-index: map-get($z-index, 'nav-flyout-open');
    }

    &-item {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      background: $white;
      text-align: left;

      .sub-nav-wrap {
        height: 100%;

        .sub-nav-inner-col {
          height: calc(100% - 4.2rem);
        }
      }

      & > a {
        position: relative;
        display: inline-block;
        padding: .5rem 0;
        margin: 0;
        background: $white;
        color: $primary;

        span {
          display: inline-block;
          line-height: .7rem;
          padding-right: .7rem;
          padding-left: .7rem;
          border-left: solid 2px $primary;
        }

        &.open {
          z-index: map-get($z-index, 'nav-flyout-open');
        }
      }

      &:first-child {
        & > a {
          span {
            border: 0;
          }
        }
      }
    }

    &-sub-nav {
      position: absolute;
      display: none;
      top: 2.2rem;
      left: 0;
      right: 0;
      padding: .5rem;
      height: 558px;

      &.open {
        display: block;
        z-index: map-get($z-index, 'nav-flyout-open');
      }

      li {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }

    .grid-center ul {
      margin-bottom: 0;

      & + ul {
        margin-top: 1rem;
      }
    }

    &.microsite-nav {
      .nav-flyout-list {
        margin-bottom: 0;

        .nav-flyout-sub-nav {
          top: 2.35rem;
        }
      }
    }
  }

  &-accordeon {
    position: relative;
    z-index: map-get($z-index, 'accordeon-nav');

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 3rem;
      width: 100%;
      z-index: map-get($z-index, 'stage-background');

      background: $primarydarken;
    }

    .nav-accordion-label {
      line-height: 3rem;
      padding-left: $gutter-sm;
    }

    &.nav-filter-and-sort {

      .nav-accordion-label {
        i {
          margin-left: $gutter-s;
        }
      }

      .nav-accordeon-list {
        display: none;
        min-height: initial;
        transition: background .24s, opacity .01s, height .6s, max-height .1s;

        label {
          display: block;
          margin-bottom: $gutter-m;

          &:hover {
            background: transparent;
          }
        }
      }

      input.nav-accordion-check:checked {
        ~ .nav-accordeon-list {
          display: block;
          background: transparent;
          max-height: initial;
        }

        + label i {
          @include absolute(top $gutter-m right $gutter-m);
          z-index: map-get($z-index, 'accordeon-nav');
        }

        + label i::after {
          content: '\e904';
        }
      }
    }

    textarea,
    input:not([type='submit']) {
      border: 0;
      font-weight: 900;

      &:focus {
        outline: none;
      }
    }

    button {
      text-transform: uppercase;
    }

    .hamburger {
      font: inherit;
      display: inline-block;
      overflow: visible;
      margin: 0;
      padding: 0;
      cursor: pointer;
      transition-timing-function: linear;
      transition-duration: .15s;
      transition-property: opacity, filter;
      text-transform: none;
      color: inherit;
      border: 0;
      background-color: transparent;

      &:hover {
        opacity: .95;
      }

      &-label {
        z-index: map-get($z-index, 'accordeonToggle');
        float: right;
        line-height: 3rem;
        height: 3rem;
      }

      &-box {
        position: relative;
        display: inline-block;
        width: 3rem;
        height: 3rem;
      }

      &-inner {
        top: 50%;
        display: block;
        margin-top: -2px;

        &,
        &::after,
        &::before {
          position: absolute;
          width: 2rem;
          height: 3px;
          transition-timing-function: ease;
          transition-duration: .15s;
          transition-property: transform;
          background-color: currentColor;
        }

        &::after,
        &::before {
          display: block;
          content: '';
        }

        &::before {
          top: -10px;
        }

        &::after {
          bottom: -10px;
        }
      }

      &-squeeze {
        .hamburger-inner {
          transition-timing-function: cubic-bezier(.55, .055, .675, .19);
          transition-duration: 75ms;

          &::before {
            transition: top 75ms ease .12s, opacity 75ms ease;
          }

          &::after {
            transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
          }
        }
      }
    }

    input.nav-accordion-check:checked ~ .nav-accordeon-list {
      min-height: 96.5vh;
      padding-top: 0;
    }

    &-list input[type='checkbox']:checked + label + ul,
    input.nav-accordion-check:checked ~ .nav-accordeon-list {
      max-height: 1000px;
    }

    input.nav-accordion-check:checked ~ .nav-search {
      display: block;
      max-height: initial;
      transition: max-height .1s;
    }

    input.nav-accordion-check:checked ~ .nav-languageswitch {
      display: none;
      max-height: 0;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    &.nav-search-and-keywords {
      z-index: map-get($z-index, 'accordeon-navSearchAndKeywords');

      &:hover {
        .hover-trigger {
          & + .search-and-keywords-inner {
            .nav-accordeon-list {
              padding-top: 0;
              @media #{$gl-sm-plus} {
                min-height: 96.5vh;
              }
            }

            .hamburger-label {
              @media #{$gl-sm-plus} {
                display: block;
              }
            }
          }
        }
      }

      .hover-trigger {
        font-size: 11px;
      }

      .search-and-keywords-inner {
        position: absolute;
        top: 100%;
        left: 1.2em;
        right: 1.2em;
      }

      &::before {
        display: none;
      }

      .hamburger-label {
        @include absolute(top $gutter-m right $gutter-m)
        display: none;
      }

      .nav-accordeon-list {
        min-height: initial;
        transition: background .1s, height .6s, max-height .1s;
        padding-top: 0;


        label {
          line-height: 1.25;
          display: block;
          margin-bottom: $gutter-m;
        }
      }

      input.nav-accordion-check:checked {

        ~ .nav-accordeon-list {
          padding-top: 0;
        }

        .hamburger-label {
          display: block;
        }
      }
    }

    &-list {
      clear: both;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      transition: background .24s, opacity .01s, height .5s, max-height .1s;

      .grid {
        margin: 0;
      }

      .nav-main-label {
        display: block;
        text-transform: uppercase;
        transition: .15s;
        font-weight: 700;
        padding: 0 .9rem;
        line-height: 3rem;
        color: $primary;
      }

      & i {
        line-height: 1.6;
      }

      .nav-main-label:focus,
      .nav-main-label:hover {
        background-color: $secondary;

        &,
        i::after {
          color: $white;
        }
      }

      .nav-main-label > i {
        will-change: transform, float;
        transform: rotate(180deg);
        float: right;
        line-height: 3rem;
        transition: transform .65s ease;
      }

      .nav-main-toggle:checked + label {
        background: $secondary;
        left: initial;
        bottom: initial;
      }

      .nav-main-toggle:checked + label > i {
        transform: rotate(0);

        &::after {
          content: '\e902';
        }
      }

      &-accord-group {

        li {
          border-top: solid 3px $grey50;
          padding: $gutter-l 0;
          @media #{$gl-xs} {
            padding: $gutter-sm 0;
            position: relative;
          }

          header {
            position: relative;
            @media #{$gl-xs} {
              text-align: center;
              position: static;
            }

            &.col {
              padding-left: 0;
            }
          }

          h3,
          .h3 {
            margin: 0;
          }

          section {

            header {

              @media #{$gl-xs} {
                text-align: left;
              }

            }

            q {
              quotes: '»' '«' '›' '‹';
              padding: 0 $gutter-s;
            }

            .accordion-content {
              padding-top: 0;

              .list-links {
                margin-bottom: $gutter-l;
                @media #{$gl-xs} {
                  margin-bottom: $gutter-sm;
                }

              }

              dl {
                dd {
                  .list-links {
                    margin-bottom: 0;
                  }
                }
              }

              .list-links-keywords {
                margin-top: -($gutter-sm);
                margin-left: -($gutter-s);
                padding-top: $gutter-xl;

                li {
                  a {
                    padding: .4rem .5rem;
                    line-height: normal;

                    &:hover {
                      background-color: $primarydarken;
                      color: $secondary;
                    }
                  }
                }

              }
            }

            input.accordion-helper {
              &:checked ~ .accordion-content {
                max-height: 100%;
                padding-top: $gutter-xl;
              }

              &:checked + header {
                label {
                  background: none;

                  i {
                    transform: rotate(180deg);
                  }
                }
              }
            }

            &.accordion-content-sec {
              padding-bottom: 0;

              header {
                label {
                  position: absolute;
                  right: 0;
                  top: 0;
                  padding: 0;
                  color: $grey50;
                  width: 100%;
                  text-align: right;

                  @media #{$gl-xs} {
                    right: 10px;
                    top: 10px;
                  }

                  i {
                    display: inline-block;
                    line-height: normal;
                    font-size: $fontsize-m;
                    transition: transform .3s ease;
                    transform: rotate(0deg);
                  }

                  &:hover {
                    background-color: transparent;

                    i::after {
                      color: $grey50;
                    }
                  }
                }
              }

              a {
                &.multiline {
                  padding: 0;
                  line-height: normal;
                }

                &.multiline.group-link {
                  padding-left: 1.4rem;
                }

                &:hover {
                  background-color: transparent;
                  color: $secondary;

                  i {
                    &::after {
                      color: $secondary;
                    }
                  }
                }
              }
            }
          }

          &:last-child {
            border-bottom: solid 3px $grey50;
          }

          ul {
            li,
            li:last-child {
              border: 0;
              padding: 0;
            }
          }
        }

        .field--name-field-mpiwg-text ul li,
        .field--name-field-mpiwg-text ul li:last-child {
          padding: 0 0 0 20px;
        }

        .field--name-field-mpiwg-text ol li {
          border-top: 0;
          padding: 0 0 0 30px;

          &:last-child {
            border-bottom: 0;
          }
        }

        & > li {
          @media #{$gl-sm} {
            margin-left: 0;
            margin-right: 0;
          }
        }

        .list-links {
          display: block;

          a {
            padding: 0;
            line-height: $gutter-m;
            display: inline;

            &:hover {
              color: $secondary;
              background-color: transparent;
            }
          }

          .item > span {
            color: $primary;
          }

          li:first-child {
            a span {
              margin-left: 0;
            }
          }
        }

        &.small-preview {
          .accordion-content-sec {

            & > header {
              height: auto;

              label {
                right: $gutter-s;
                width: 100%;
                text-align: right;
              }

              i {
                top: 50%;
              }
            }

            &.col,
            &.grid {
              padding: 0;
            }
          }
        }

        &.research-websites,
        &.events-list,
        &.preprints-accordion {

          & > li {
            @media #{$gl-xs} {
              position: relative;
              padding-top: $gutter-l;
              padding-bottom: $gutter-l;
            }

            header {
              @media #{$gl-xs} {
                position: static;
              }

              h3,
              .h3 {
                @media #{$gl-xs} {
                  text-align: left;
                }
              }
            }
          }

          section {
            &.accordion-content-sec {
              @media #{$gl-xs} {
                padding-left: 0;
                padding-right: 0;
              }

              header {
                label {
                  @media #{$gl-xs} {
                    top: $gutter-sm;
                    right: $gutter-s;
                    width: 100%;
                    text-align: right; 
                  }

                  i {
                    @media #{$gl-xs} {
                      font-size: $fontsize-l;
                    }
                  }
                }
              }
            }
          }
        }

        &.research-websites {
          .tile {
            &[class*="col"] {
              padding: 0;
            }
          }
        }

        &.events-list {
          header {
            .list-links {
              .item {
                @media #{$gl-xs} {
                  display: block;
                }

                a > span,
                & > span {
                  &::after {
                    @media #{$gl-xs} {
                      border: 0;
                    }
                  }
                }

                span span {
                  @media #{$gl-xs} {
                    display: block;
                  }
                }
              }
            }
          }

        }

        &.preprints-accordion {
          li {
            header {
              h3,
              .h3 {
                font-size: $fontsize-m;
              }
            }
          }
        }

      }

    }

    &-group-list {
      a {
        padding-left: 2.5rem;
        font-weight: normal;
      }

      label {
        padding-left: 0;
        font-weight: normal;
      }
    }

    &-sub-group-list a {
      font-weight: normal;
      padding-left: 4rem;
    }

    &-sub-group-list label {
      font-weight: normal;
      padding-left: 0;
    }

    &-sub-sub-group-list a,
    &-sub-sub-group-list label {
      padding-left: 6rem;
    }

    &-group-list,
    &-list,
    &-sub-group-list,
    &-sub-sub-group-list,
    &-list-accord-group .accordion-content {
      height: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height .2s;
    }

    &-list-accord-group {
      max-height: none;

      .accordion-content {
        transition: max-height .1s, padding-top .1s;
      }
    }
  }

}

input.nav-accordion-check:checked ~ .hamburger-label,
input.nav-mobile-check:checked ~ .hamburger-label {
  .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: rotate(45deg);

    &::before {
      top: 0;
      transition: top 75ms ease, opacity 75ms ease .12s;
      opacity: 0;
    }

    &::after {
      bottom: 0;
      transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
      transform: rotate(-90deg);
    }
  }
}

.static-content-list {
  ul {
    li {
      section {
        .accordion-content {
          padding-top: $gutter-xl;
          max-height: none;
          overflow: visible;
        }
      }
    }
  }
}



.accordion-list {
  & > h2 {
    margin-bottom: 0;
    padding-left: 0;
  }

  .content-lists-events & .nav-accordeon-list {
    margin-top: 1.111111rem;
  }
}

.view-display-id-subprojects,
.view-display-id-sub-working-groups {
  .accordion-list + .accordion-list {
    margin-top: -2rem;

    .nav-accordeon-list-accord-group li:first-child {
      border-top: 0;
    }
  }
}

.paragraph-accordion-title {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2rem;
  margin-bottom: 0;
  font-size: 25px;
}

.footer {

  &-site {
    padding-top: 2rem;

    .footer-inner {
      position: relative;
    }

    nav {
      .h5 {
        margin-bottom: $gutter-s;
      }

      a {
        display: inline-block;
        padding-bottom: .5rem;
      }

      @media #{$gl-xs} {
        padding: 0;
      }

    }

    .footer-logo-wrapper {
      padding: 0;

      @media #{$gl-xs-plus} {
        padding: 2rem 0 0;
      }
    }
  }

  &-logo {
    font-size: .55rem;
    padding: 0 0 0 .2rem;

    @media #{$gl-xs-plus} {
      padding: 0 .4rem .8rem;
    }

    img {
      max-width: 100px;
      width: 100%;
      height: auto;
      @media #{$gl-xs-plus} {
        padding-left: .2rem;
      }
    }
  }

  &-social {
    padding-top: 2rem;
    position: absolute;
    top: 5rem;
    bottom: 0;
    right: 1.5rem;

    .fa {
      font-size: $gutter-m;
    }

    a + a {
      display: block;
      margin-top: 1.5rem;
    }

    @media #{$gl-xs-plus} {
      font-size: 1.5rem;
      position: static;
      right: auto;
      bottom: auto;
    }

    .social-icons-wrap {
      position: absolute;
      bottom: 0;
      right: 1rem;
      padding-bottom: 2rem;
      margin-bottom: 0;

      @media #{$gl-xs-plus} {
        position: static;
        left: auto;
        bottom: auto;
        padding-bottom: initial;
      }
      @media #{$gl-xs} {
        li {
          margin-top: 1rem;
        }
      }
    }

    li {
      padding-left: 0;
      display: inline-block;

      @media #{$gl-md} {
        display: block;
        text-align: center;
        margin: auto;
      }

      @media #{$gl-xs-plus} {
        display: inline;
        padding-left: .5rem;
      }

      @media #{$gl-md-plus} {
        padding-left: 1.5rem;
      }
    }
  }

  ul {
    @media #{$gl-xs} {
      margin-bottom: 0;

      a {
        display: block;
        line-height: 30px;
      }
    }
  }
}

div.block-addtoany {
  position: relative;
  padding: 0;
  float: right;
  text-align: right;

  .col-10.md-12.xs-14 {
    padding: 0;
  }

  .button-share {
    position: relative;
    top: -10px;
    font-size: .7rem;
  }
}

.event-addtoany,
div.block-addtoany {
  .addtoany-list {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    a:last-child {
      padding-right: 0;
    }
  }
}

.event-addtoany {
  margin-left: 8rem;
  position: relative;

  .addtoany-list {
    position: absolute;
    top: 30px;
    width: 10rem;
    left: 0;
  }
}

.microsite-footer {

  .footer-inner {
    @media #{$gl-xs} {
      padding-bottom: $gutter-m;
    }

  }

  nav {
    position: relative;

    a {
      padding-bottom: .3rem;
      line-height: 20px;

      &.col {
        @media #{$gl-xs}  {
          padding: 0;
        }
      }
    }

    span {
      @include fontapercu;
      line-height: $gutter-l;
    }

    .impressum-item {
      position: absolute;
      left: 0;
      bottom: $gutter-m;
      @media #{$gl-xs} {
        position: static;
      }
    }
  }
}

.tabs-more {
  left: 50%;
  right: auto;
  width: auto;
  display: inline-block;
  transform: translate(-50%);
}

.logo-type {
  .no-gutter > .col {
    padding-right: 1.666666666rem;

    @media #{$gl-xs} {
      padding-right: .55555rem;
      max-width: 75%;
    }
  }

  div,
  h4 {
    padding-bottom: 0;
    margin-top: 0;
  }

  h4 {
    @media #{$gl-sm} {
      font-size: .88888888rem;
    }

    @media #{$gl-xs} {
      font-size: .833333333rem;
      line-height: 1.3rem;
    }

    span.logo-name-en {
      text-transform: none;
      display: block;

      @media #{$gl-xs} {
        display: none;
      }
    }
  }
}

.past-events {
  .events-listing > header {
    li {
      display: inline-block;
      margin-right: 6px;

      a {
        font-size: $fontsize-m-link;
      }
    }
  }
}

.past-events-years {
  .events-listing {
    li {
      display: inline-block;
      margin-right: 6px;

      a {
        font-size: $fontsize-m-link;
      }
    }
  }
}

.events-list {
  .field-label {
    @include fontapercu;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: .83333rem;
    letter-spacing: .01rem;
  }

  .field {
    margin-bottom: 1.666666rem;
  }
}


.view-profile-projects {
  .tabs {
    &-more {
      ul {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.nav-accordeon.nav-filter-and-sort input.nav-accordion-check:checked ~ .nav-accordeon-list {
  overflow: visible;

  .grid-center {
    margin: 0;
  }
}

.nav-accordeon-list {
  .paragraph-type-colorbox-images  i {
    line-height: 36px;
  }
}

// Navs

// Base class
.nav {

  > li {
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 1rem;
      font-size: .81rem;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

// Tabs
.nav-tabs {

  > li {
    float: left;

    > a {
      margin-right: 2px;
    }

    &.is-active > a {

      &,
      &:hover,
      &:focus {
        background-color: $primarydarken;
        color: $white;
      }
    }
  }
}


// Pills
.nav-pills {
  > li {
    float: left;

    + li {
      margin-left: 2px;
    }
  }
}


// Stacked pills
.nav-stacked {
  > li {
    float: none;
    + li {
      margin-top: 2px;
      margin-left: 0;
    }
  }
}


// Nav variations

// Justified nav links

.nav-justified {
  width: 100%;

  > li {
    float: none;

    > a {
      margin-bottom: 5px;
      text-align: center;
    }
  }

  > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
  }
}

.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    margin-right: 0;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid $grey25;
  }
}


// Tabbable tabs
.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}


// Dropdowns
.nav-tabs .dropdown-menu {
  margin-top: -1px;
}

.ultimenu--basic .region {
  background: transparent;
  padding: 0;
}

.ultimenu--basic .region {
  display: table;
  width: 100%;
}

#navbar .ultimenu--basic .region > .ultimenusub {
  border: 0 none;
}

.ultimenusub {
  a::before {
    content: none;
  }
}

#navbar .ultimenu .caret {
  display: none;
}
