@font-face {
	font-family: 'Apercu Pro';
	src: url('#{$fonts}/Apercu/ApercuPro-Bold.eot');
	src: url('#{$fonts}/Apercu/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
			 url('#{$fonts}/Apercu/ApercuPro-Bold.ttf') format('truetype'),
			 url('#{$fonts}/Apercu/ApercuPro-Bold.woff2') format('woff2'),
			 url('#{$fonts}/Apercu/ApercuPro-Bold.woff') format('woff');
	letter-spacing: .01rem;
	font-weight: bold;
	font-style: normal;
}
