// Font path
$fonts: '../fonts' !default;

$color-index: (
  'primary': rgb(0, 70, 70),
  'white': rgb(255, 255, 255),
  'black': rgb(0, 0, 0),
  'primarydarken': rgb(0, 100, 100),
  'site': rgb(160, 185, 135),
  'content': rgb(255, 255, 255),
  'cardfront': rgb(225, 225, 220),
  'cardback': rgb(80, 250, 150),
  'cardtextfront': rgb(0, 70, 70),
  'cardtextback': rgb(0, 70, 70),
  'sitenamecolor': rgb(0, 100, 100),
  'secondary': rgb(80, 250, 150),
  'grey100': rgb(135, 130, 120),
  'grey75': rgb(165, 160, 155),
  'grey50': rgb(195, 190, 185),
  'grey40': rgb(102, 102, 102),
  'grey25': rgb(225, 225, 220),
  'grey15': rgb(240, 240, 238),

  'department1': rgb(111, 146, 120),
  'department2': rgb(85, 160, 140),
  'department3': rgb(160, 185, 135),
  'department4': rgb(86, 118, 110),
  'header-background': rgb(195, 190, 185),
  'error': rgb(240, 0, 40)
)
!default;

$primary: #004646 !default; //rgb(0,70,70)
$secondary: #50fa96 !default; //rgb(80,250,150)

// Text colors
$error: #f00028 !default; //rgb(240,0,40)
$white: #fff !default;
$black: #000 !default;

$grey100: #878278 !default;
$grey75: #a5a09b !default;
$grey60: #777 !default;
$grey50: #c3beb9 !default;
$grey40: #666 !default;
$grey25: #e1e1dc !default;
$grey15: #f0f0ee !default;
$primarydarken: #006464 !default;
$site: #000 !default;
$content: #fff !default;
$sitenamecolor: #006464 !default;
$blacktransparent: rgba(0, 0, 0, .2) !default;
$header-background: #c3beb9 !default;
$cardfront: #e1e1dc !default;
$cardback: #50fa96 !default;

// Background colors
$department1: rgb(111, 146, 120) !default;
$department2: #55a08c !default;
$department3: #a0b987 !default;
$department4: rgb(86, 118, 110) !default;

// Different form department colors!
$form-department1: rgb(100, 145, 120) !default;
$form-department4: rgb(115, 145, 135) !default;

$min-width: 400 !default;
$max-width: 800 !default;
$row-width: 955px !default;
$max-width-page: 1400px !default;
$extra-max-width: 100% !default;
$container-width: 955px !default;

//Specific Override for Nodes
$xlarge-row: 95% !default;
$xlarge-container: 95% !default;
$large-row: 1400px !default;
$large-container: 95% !default;

// Fonts
$min-font: 16 !default;
$max-font: 18 !default;
$min-h1-font: 65 !default;
$max-h1-font: 100 !default;
$line-height-base: 1.6666 !default;
$fontsize-xxl: 5.5555555rem !default; // 100px
$fontsize-xl: 4.4444444rem !default; // 90px
$fontsize-l: 2.2222222rem !default; // 40px
$fontsize-l-link: 1.6666667rem !default; // 30px
$fontsize-m: 1.3888888rem !default; // 25px
$fontsize-m-link: 1.1111111rem !default; // 20px
$fontsize-s: 1rem !default; // 18px
$fontsize-s-link: .94444444rem !default; // 17px
$fontsize-xs: .83333333rem !default; // 15px
$fontsize-xxs: .72222222rem !default; // 13px

$header-wrapper-article-height: 28.222222rem !default;
$header-content-height: 25.5rem !default;

//Microsite NOT Frontsite Pages
$header-article-height: 10.222222rem !default;
$header-article-content-height: 8rem !default;

$ddd: #ddd !default;
$fafafa: #fafafa !default;
$ccc: #ccc !default;
$f3f3f3: #f3f3f3 !default;
$black075trans: rgba(0, 0, 0, .75) !default;
$c-676767: #676767 !default;

$corner-size: 70px !default;
$corner-size-bigger: 90px !default;

$whitetrans: rgba($white, .5) !default;

// Font colors
$link-hover-color: $secondary !default;
$text-color: $primary !default;
$font-family-base: 'Sectra Book', 'Times', 'Vollkorn', serif !default;
$font-size-base: 18px !default;
$border-radius-base: 0 !default;
$nav-link-padding: .3rem .8rem !default;

//#TBDinto other file
$z-index: (
  'carousel-prev-next': 40,
  'tiles-wrapper': 0,
  'tilesLace': 10,
  'tilesLacePassive': 1,
  'carouselPagers': 20,
  'flyOutNav': 30,
  'accordeonNav': 40,
  'accordeonNavSearchAndKeywords': 50,

  'slider3dH': 9,
  'slider3dH1': 10,
  'slider3dBullets': 11,

  'lightboxCarousel': 99991,
  'lightboxCarouselCloseBtn': 99992,
  'lightboxCarouselBgrd': 0,
  'lightboxCarouselImgs': 1,

  'scrollSpySidemenu': 2000,

  'datepicker': 1000,

  'activeCorner': 9999,
  'activeCornerGraphic': 1,
  'activeCornerLabel': 2,
  'activeCornerAnchor': 3,

  'stage': 0,
  'stageProfile': 1,
  'stageH1': 10,
  'stageBackground': -1,
  'navFlyoutOpen': 10,

  'tileSquare': 8,
  'tile34': 7,
  'tile43': 9,

  'figureTooltip': 99999,
  'figureTooltipBtn': 99998,

  'intranetH1': 1,

  'departmentH1OnMobile': 1
)
!default;

//************************
//VARIABLES
//************************
$gutter-xl: 2.777777rem !default; // 50px
$gutter-l: 1.666666rem !default; // 30px
$gutter-m: 1.388888rem !default; // 25px
$gutter-sm: 1.111111rem !default; // 20px
$gutter-s: .555555rem !default; // 10px

$gl-grid-name: grid !default;
$gl-col-name: col !default;
$gl-gutter: $gutter-m !default; // Total
$gl-col-bottom: $gl-gutter !default;

$gl-xs: 'screen and (max-width: 35.5em)' !default; // up to 568px
$gl-xs-plus: 'screen and (min-width: 35.5em)' !default; // up to 568px

$gl-sm: 'screen and (max-width: 48em)' !default; // max 768px
$gl-xs-to-sm: 'screen and (max-width: 48em) and (min-width: 35.5em)' !default; // max 768px
$gl-sm-plus: 'screen and (min-width: 48em)' !default; // min 768px

$gl-md: 'screen and (max-width: 64em)' !default; // max 1024px
$gl-xs-to-md: 'screen and (min-width: 35.5em) and (max-width: 64em)' !default; // max 1024px
$gl-sm-to-md: 'screen and (max-width: 64em) and (min-width: 48em)' !default; // max 1024px
$gl-md-plus: 'screen and (min-width: 64.1em)' !default; // max 1024px

$gl-lg: 'screen and (max-width: 80em)' !default; // max 1280px
$gl-md-to-lg: 'screen and (max-width: 80em) and (min-width: 64em)' !default; // max 1280px
$gl-lg-plus: 'screen and (min-width: 80em)' !default; // max 1280px

$choices-selector: 'choices' !default;
$choices-font-size-lg: 16px !default;
$choices-font-size-md: 14px !default;
$choices-font-size-sm: 12px !default;
$choices-guttering: 24px !default;
$choices-border-radius: 0 !default;
$choices-border-radius-item: 20px !default;
$choices-bg-color: #f9f9f9 !default;
$choices-bg-color-disabled: #eaeaea !default;
$choices-bg-color-dropdown: #fff !default;
$choices-text-color: $primary !default;
$choices-keyline-color: #ddd !default;
$choices-primary-color: $primary !default;
$choices-disabled-color: $grey25 !default;
$choices-highlight-color: $choices-primary-color !default;
$choices-button-dimension: $gutter-s !default;
$choices-button-offset: $gutter-s !default;

// Colors
$magenta: $primary;
$sidebar-link-hover-color: $primary;
$sidebar-background-color: #fff;
$structure-border-color: $grey25;
$transition-length: .2s;
$sidebar-opened-width: 240px;
$header-height: 65px;
$footer-height: 120px;

// Breakpoints
$bp-small: 'only screen and (max-width : 40em)';
$bp-medium: 'only screen and (min-width : 40.063em)';
$bp-large: 'only screen and (min-width : 64.063em)';