.block-latest-publication-media {
  .huge-module {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.content-lists {
    .tile {
      margin-bottom: 0;
    }
  }

  .tile-subtitle {
    p {
      @include fontsectraitalic;
    }
  }

  .carousel-links {
    text-align: center;

    li {
      display: inline-block;

      &:last-child a::after {
        display: none;
      }
    }

    a {
      position: relative;
      display: block;
      padding: .5rem .8rem;

      &::after {
        position: absolute;
        top: 15px;
        right: 0;
        bottom: 10px;
        display: block;
        width: 2px;
        height: 12px;
        content: '';
        background-color: $primary;
      }
    }
  }

  .button-type {
    a {
      @extend .button;
      color: $secondary;
      background-color: $primarydarken;

      &:hover {
        color: $primarydarken;
        background-color: $secondary;
      }
    }
  }

  .carousel-adaptiveHeight {
    .flickity-viewport {
      min-height: 0;
    }
  }
}
