.stack-wrapper {
  align-self: stretch;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stack-wrapper:nth-child(even):last-child {
  width: 100%;
}

.stack {
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  z-index: 1000;
  margin-top: 120px;
  width: 520px;
  height: 450px;
  padding: 0;
  list-style: none;
  pointer-events: none;
}

.stack-item {
  background: $white;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  pointer-events: auto;

  h1 {
    position: absolute;
    left: -1em;
    top: 1em;
  }

  img {
    width: 100%;
    display: block;
    pointer-events: none;
  }
}

.controls {
  position: absolute;
  bottom: 2.5em;
  left: 2em;
  text-align: center;

  .button {
    border: 0;
    background: none;
    position: relative;
    display: inline-block;
    padding: .25em;
    margin: 0 .5em;
    cursor: pointer;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    z-index: 100;
  }

  .button .fa {
    pointer-events: none;
  }

  .button-default {
    background: $grey25;
    border-radius: 3px;
    color: $white;
    font-size: .95em;
    font-weight: bold;
    padding: .65em 2em;
    width: auto;
    height: auto;
  }

  .button-sonar {
    border-radius: 50%;
    background: $white;
  }

  .button-sonar::before {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
    border: 4px solid $blacktransparent;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
  }

  .button-sonar.button-active::before {
    animation: anim-effect-sonar .3s ease-out forwards;
  }
}

@keyframes anim-effect-sonar {
  0% {
    opacity: 1;
    transform: scale3d(.9, .9, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(1.4, 1.4, 1);
  }
}

.material-circle {
  width: 150vh;
  height: 150vh;
  margin: -75vh 0 0 -75vh;
  z-index: 0;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  transform: scale3d(0, 0, 1);
}

.material-circle-accept.material-circle-active {
  background: $grey100;
}

.material-circle-reject.material-circle-active {
  background: $grey25;
}

.material-circle-active {
  animation: anim-effect-material .6s ease-out forwards;
}

@keyframes anim-effect-material {
  0% {
    opacity: 1;
    transform: scale3d(0, 0, 1);
  }

  70% {
    opacity: 1;
    transform: scale3d(1.4, 1.4, 1);
  }

  100% {
    opacity: 0;
    transform: scale3d(1.4, 1.4, 1);
  }
}

.button:focus {
  outline: none;
}

.button-accept {
  color: $grey100;
}

.button-reject {
  color: $grey25;
}

.text-hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
  display: block;
}

.stack-item-accept,
.stack-item-reject {
  pointer-events: none;
}

.stack-cinta .stack-item-reject {
  animation: cintaReject .5s forwards;
}

@keyframes cintaReject {
  to {
    opacity: 0;
    transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0);
  }
}

.stack-cinta .stack-item-accept {
  animation: cintaAccept .5s forwards;
}

@keyframes cintaAccept {
  to {
    opacity: 0;
    transform: translate3d(0, 0, 1000px);
  }
}

@media screen and (max-width: 60em) {
  .stack {
    width: 260px;
    height: 260px;
  }
}
