$start: 1; // Always 1
$end: 5; // Number of slides: 5 slides in this case
$normal-transition-time: .2s;
$default-ease: ease;

@mixin default-transition($param: all) {
  transition: $param $normal-transition-time $default-ease;
}

@mixin translate-x($value: -50%) {
  transform: translate-x($value);
}

@mixin translate-y($value: -50%) {
  transform: translateY($value);
}

@mixin translate-xy($value: -50%) {
  transform: translate($value , $value);
}

.stack-wrapper {
  align-self: stretch;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stack-wrapper:nth-child(even):last-child {
  width: 100%;
}

.stack {
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  z-index: 1;
  margin-top: 120px;
  width: 520px;
  height: 480px;
  padding: 0;
  list-style: none;
  pointer-events: none;
}

.stack-item {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  pointer-events: auto;

  a,
  h1,
  h3,
  h4 {
    display: none;
  }

  &-current {
    opacity: 1;

    a,
    h1,
    h3,
    h4 {
      display: block;
    }
  }
}

.stack-item h1 {
  position: absolute;
  left: -1em;
  top: 1em;

  @media #{$gl-xs} {
    position: absolute;
    left: 0;
    top: initial;
  }
}

.stack-item img {
  width: 100%;
  display: block;
  pointer-events: none;
}

.controls {
  position: absolute;
  bottom: 1.5em;
  left: 1em;

  @media #{$gl-md} {
    display: none;
  }


  .button {
    border: 0;
    background: none;
    position: relative;
    display: inline-block;
    padding: .25em;
    margin: 0 .5em;
    cursor: pointer;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    z-index: 100;
  }

  .button .fa {
    pointer-events: none;
  }

  .button-default {
    background: $primarydarken;
    border-radius: 3px;
    color: $secondary;
    font-size: .95em;
    font-weight: bold;
    padding: .65em 2em;
    width: auto;
    height: auto;
  }
}

.text-hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
  display: block;
}

.stack-item-accept,
.stack-item-reject {
  pointer-events: none;
}

.stack-item-reject {

  animation: cintaReject .5s forwards;
}

@keyframes cintaReject {
  to {
    opacity: 0;
    transform: translate3d(25vw, 0, 0) translate3d(60%, 0, 0);
  }
}

.stack-item-accept {
  animation: cintaAccept .5s forwards;
}

@keyframes cintaAccept {
  to {
    opacity: 0;

    transform: translate3d(0, 0, 1000px);
  }
}

@media #{$gl-md} {
  .stack {
    height: 500px;
    margin-top: 0;

    h1 {
      bottom: 2.8em;
      left: 0;
    }
  }
}

@media #{$gl-xs} {
  .stack {
    width: 100%;
    height: 460px;

    h1 {
      bottom: 4.2em;
    }

    h4 {
      padding-top: 1em;
    }
  }
}

.flickity-prev-next-button {
  @media #{$gl-sm} {
    display: none;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.news-teaser {
  &-item {
    .tile-link {
      position: static;
      font-size: 13px;
    }

    @media #{$gl-md-plus} {
      position: relative;

      .tile-content {
        top: 1.6666rem;
        left: 21.5384615385%;
        right: 21.5384615385%;
        bottom: 1.6666rem;
      }

      &:nth-of-type(1) {
        margin-bottom: 2.77777rem;
      }

      &:nth-of-type(2) {
        z-index: map-get($z-index, 'tile43');

        .tile-content {
          top: 1.6666rem;
          left: 17.7215189873%;
          right: 17.7215189873%;
          bottom: 1.6666rem;
        }
      }

      &:nth-of-type(3) {
        margin-bottom: 5.55555rem;
      }
    }

    @media #{$gl-xs-to-md} {
      .tile-content {
        top: 10.5634066902%;
        bottom: 10.5634066902%;
        left: 14.7058823529%;
        right: 14.7058823529%;
      }

      &:nth-of-type(1) {
        margin-bottom: -50px;
      }

      &:nth-of-type(2) {
        position: relative;
        margin-top: 0;

        .tile-content {
          top: 16.38001638%;
          bottom: 16.38001638%;
          left: 12.285012285%;
          right: 12.285012285%;
        }
      }

      &:nth-of-type(3) {
        margin-top: -70px;

        .tile-content {
          top: 22.5352112676%;
        }
      }
    }
    @media #{$gl-xs} {
      .tile-wrapper {
        padding-bottom: 100%;
      }
    }
  }

  &.grid-bottom {
    margin: 0;
  }

  .tile-wrapper {
    &:hover .tile-link {
      color: inherit;

      &:hover {
        color: $secondary;
      }
    }

    .tile-link {
      display: inline-block;
    }
  }

  .list-links.other-involved-comma li:last-child::after {
    display: none;
  }
}

.lightbox-carousel {
  &.paragraph {
    padding-left: 0;
    padding-right: 0;
  }

  &-bgrd {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: map-get($z-index, 'lightboxCarousel');
    visibility: hidden;
    margin: 0;

    &[class*='grid'] {
      visibility: hidden;
      margin: 0;
    }

    &[class*='col'] {
      visibility: hidden;
      margin: 0;
    }

    .background {
      opacity: .8;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: map-get($z-index, 'lightboxCarouselBgrd');
    }

    .lightbox-carousel-imgs {
      position: relative;
      padding-bottom: 0;
      z-index: map-get($z-index, 'lightboxCarouselImgs');
      height: auto;
      width: 100%;
      margin-top: ($gutter-xl * 3);

      &,
      &[class*='col'] {
        max-width: 955px;
      }

      .carousel-cell {
        width: 100%;
        height: auto;
        margin: 0 5rem;
      }

      img {
        max-height: 500px;
        display: inline-block;
        margin-bottom: $gutter-xl;

        &[class*='col'] {
          padding: 0;
        }
      }
    }
  }

  label {
    cursor: pointer;

    i.icon-cross {
      display: none;
      font-size: 1.66rem;
      position: fixed;
      right: $gutter-l;
      top: $gutter-l;
      z-index: map-get($z-index, 'lightboxCarouselCloseBtn');
      transform: rotate(0deg);
      transition: transform .1s;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  .lightbox-carousel-toggler {
    &:checked {
      & ~ .lightbox-carousel-bgrd {
        visibility: visible;
      }

      & + label {
        i {
          display: inline-block;
        }
      }
    }
  }

  .flickity-prev-next-button {
    margin-top: -22px;

    &.previous {
      left: -3.1rem;
    }

    &.next {
      right: -3.1rem;
    }

    @media #{$gl-sm} {
      display: none;
    }
  }

  .flickity-page-dots {
    bottom: auto;
    top: -25px !important;
    display: none;
    @media #{$gl-md} {
      display: block;
      top: -25px;
    }
    @media #{$gl-xs} {
      display: block;
      top: -25px;
    }
  }
}

.items-gallery {
  .flickity-prev-next-button {

    &.previous {
      left: -4rem;
    }

    &.next {
      right: -4rem;
    }
  }
}

.colorbox-image {
  text-align: center;
  width: 100%;

  .col-10 {
    padding: 0;
  }

  .list-content & .field.field-name-field-text {
    margin-bottom: 0;
    text-align: center;
  }

  header.stage .stage-content & p {
    margin-bottom: 0;
    max-width: 100%;
  }
}

.default-image {
  background-repeat: no-repeat;
  background-size: 100%;
}
