*,
*::before,
*::after {
  box-sizing: border-box;
}

@import 'grid-vars';

.#{$gl-col-name},
[class*='#{$gl-col-name}-'] {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 ($gl-gutter / 2) $gl-col-bottom;

  &.width-padding-bottom {
    padding-bottom: $gl-col-bottom;
  }
}

.#{$gl-grid-name}.#{$gl-col-name},
.#{$gl-grid-name}[class*="#{$gl-col-name}-"] {
  margin: 0;
  padding: 0;
}

// FOR GRID
.#{$gl-grid-name} {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 (-$gl-gutter / 2);

  .page-text &,
  footer & {
    margin-left: 0;
    margin-right: 0;
  }

  // No spacing between cols : no-gutter
  &.no-gutter {
    margin: 0;

    > .#{$gl-col-name} {
      padding: 0;
    }
  }

  // No Wrapping
  &.no-wrap {
    flex-wrap: no-wrap;
  }

  // Horizontal alignment
  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
  }

  // Vertical alignment
  &.top {
    align-items: flex-start;
  }

  &.middle {
    align-items: center;
  }

  &.bottom {
    align-items: flex-end;
  }

  // Orders
  &.reverse {
    flex-direction: row-reverse;
  }

  &.column {
    flex-direction: column;

    > .#{$gl-col-name} {
      flex-basis: auto;
    }
  }

  &.column-reverse {
    flex-direction: column-reverse;
  }

  // Spaces between and around cols
  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  // Equal heights columns
  &.equal-height > .#{$gl-col-name} {
    display: flex;
    flex-wrap: wrap;

    > * {
      flex: 1 0 100%;
    }
  }

  // Removes the padding-bottom
  &.no-bottom > .#{$gl-col-name} {
    padding-bottom: 0;
  }
}

//FOR GRID AND POSITIONINGS
.#{$gl-grid-name}_ {
  @media #{$gl-lg} {
    &.lg.center {
      justify-content: center;
    }

    &.lg.middle {
      align-items: center;
    }
  }

  @media #{$gl-md} {
    &.md.center {
      justify-content: center;
    }

    &._md.middle {
      align-items: center;
    }
  }

  @media #{$gl-sm} {
    &.sm.center {
      justify-content: center;
    }

    &.sm.middle {
      align-items: center;
    }
  }

  @media #{$gl-xs} {
    &.xs.-center {
      justify-content: center;
    }

    &.xs.-middle {
      align-items: center;
    }
  }
}

// FOR COL
.#{$gl-col-name} {
  flex: 1 1 0%;

  &.top {
    align-self: flex-start;
  }

  &.middle {
    align-self: center;
  }

  &.bottom {
    align-self: flex-end;
  }

  &.first {
    order: -1;
  }

  &.last {
    order: 1;
  }
}

@include make-grid-by-number(#{$gl-grid-name});

@media #{$gl-lg} {
  @include make-grid-by-number(lg);
}
@media #{$gl-md} {
  @include make-grid-by-number(md);
}
@media #{$gl-sm} {
  @include make-grid-by-number(sm);
}
@media #{$gl-xs} {
  @include make-grid-by-number(xs);
}

@include make-col(#{$gl-col-name});
@include make-off(off);

@media #{$gl-lg} {
  @include make-col(lg);
  @include make-off(lg);
}
@media #{$gl-md} {
  @include make-col(md);
  @include make-off(md);
}
@media #{$gl-sm} {
  @include make-col(sm);
  @include make-off(sm);
}
@media #{$gl-xs} {
  @include make-col(xs);
  @include make-off(xs);
}

.#{$gl-col-name}:not(.#{$gl-col-name}-0) {
  display: block;
}

.#{$gl-grid-name}.#{$gl-col-name}:not(.#{$gl-col-name}-0) {
  display: flex;
}

.#{$gl-col-name}.#{$gl-col-name}-0 {
  display: none;
}

@media #{$gl-lg} {
  .#{$gl-grid-name} {
    > :not(.lg-0) {
      display: block;
    }

    &:not(.lg-0) {
      display: flex;
    }

    > .lg-0,
    &.equal-height > ._lg-0 {
      display: none;
    }
  }
}

@media #{$gl-md} {
  .#{$gl-grid-name} {
    > :not(.md-0) {
      display: block;
    }

    &:not(.md-0) {
      display: flex;
    }

    >.md-0,
    &.equal-height > .md-0 {
      display: none;
    }
  }
}

@media #{$gl-sm} {
  .#{$gl-grid-name} {
    > :not(.sm-0) {
      display: block;
    }

    &:not(.sm-0) {
      display: flex;
    }

    >.sm-0,
    &.equal-height > .sm-0 {
      display: none;
    }
  }
}

@media #{$gl-xs} {
  .#{$gl-grid-name} {
    > :not(._xs-0) {
      display: block;
    }

    &:not(.xs-0) {
      display: flex;
    }

    > .xs-0,
    &.equal-height > ._xs-0 {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .#{$gl-grid-name} {
    > [data-pull-right*='off-1'] {
      margin-left: -$glp-col-1;
    }
  }
}
