@each $colorname, $colorcode in $color-index {
  .bg-#{$colorname} {
    background-color: #{$colorcode};
  }
}

@each $colorname, $colorcode in $color-index {
  .text-#{$colorname}, // [class*='col'] matches also .color-colorname, inherits grid styles
  .color-#{$colorname} {
    &,
    a,
    label {
      color: #{$colorcode};
    }

    a:hover {
      color: $secondary;
    }
  }
}

.bg-neongruen {
  background-color: #50fa96;
}

.yo {
  background: map-get($color-index, 'black');
}

.colors {
  .color-white p {
    text-shadow: 0 0 10px $black;
  }

  li {
    position: relative;
    padding: 0;
    margin-bottom: .9375em;

    p {
      position: absolute;
      padding: 3px 13px;
      color: $grey40;
      background-color: $white;
      font-size: 12px;
      bottom: 0;
      left: .9375em;
    }

    .color {
      padding-bottom: 100%;
      margin-right: .9375em;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
