body {
  line-height: 1.666666;
  font-family: 'Apercu Pro', Geneva, Helvetica, Arial, sans-serif;
  font-variant-ligatures: normal;
  color: $primary;
}

main {
  height: 100%;
}

img {
  border: 0;
  max-width: 100%;
}

ol,
ul {
  padding-left: 1.5em;

  .popover &:last-child {
    margin-bottom: 0;
  }
}

a {
  @include fontapercu;
  transition: color .12s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

// Page header.
.page-header {
  margin-top: 0;
  border-bottom: 0;
}

// Footer.
.footer {
  padding: 36px 0;
  border-top: 1px solid $grey25;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    float: left;
    margin: -.05em .5em 0 0;
    font-size: $fontsize-l;
  }

  .block {
    overflow: hidden;
  }
}


.help-block,
.control-group .help-inline {
  margin: 5px 0 10px;
  padding: 0;
  font-size: 12px;
  color: $grey25;

  &:first-child {
    margin-top: 0;
  }
}
