:root {
  font-size: #{$min-font}px;
}
@media (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
  :root {
    font-size: calc(#{$min-font}px + (#{$max-font} - #{$min-font}) * ((100vw - #{$min-width}px) / (#{$max-width} - #{$min-width})));
  }

  .h1,
  h1 {
    font-size: calc(#{$min-h1-font}px + (#{$max-h1-font} - #{$min-h1-font}) * ((100vw - #{$min-width}px) / (#{$max-width} - #{$min-width})));
    line-height: 1;
  }
}
@media (min-width: #{$max-width}px) {
  :root {
    font-size: #{$max-font}px;
  }

  .h1,
  h1 {
    font-size: #{$max-h1-font}px;
    line-height: 1;
  }
}

body {
  line-height: 1.666666;
  font-size: 100%;
  font-variant-ligatures: normal;
  color: $primary;
}

.italic {
  font-style: italic;
}

.h1,
h1 {
  @include fontsectra;
  line-height: 1;
  margin-bottom: 1rem;

  &.small {
    font-size: 5rem;
    line-height: 1;
    @media #{$gl-md} {
      font-size: 3.333333333rem;
    }
  }
}

.h2,
h2 {
  @include fontsectra;
  font-size: 40px;
  line-height: 1.25;
  margin: 0 0 2.777777rem;

  a {
    font-size: .8em;
  }
  @media #{$gl-md} {
    font-size: 30px;
  }
  @media #{$gl-xs} {
    font-size: 25px;
  }

  .content-lists-featurestory & {
    margin: 0;
  }

  .tile.bg-image & {
    &.color-secondary {
      font-size: 50px;
      @media #{$gl-md-to-lg} {
        font-size: 40px;
      }
    }
  }
}

.h3,
h3 {
  @include fontsectra;
  font-size: 25px;
  line-height: 1.4;
  margin: 2.777777rem 0;

  .carousel-umbrella &,
  .content-lists section &,
  .nav &,
  .stage & {
    margin: 0;
  }

  a {
    font-size: .8em;
  }
}

.h4,
h4 {
  @include fontapercu;
  line-height: 1.666666rem;
  @media #{$gl-md} {
    font-size: 15px;
  }
}

.h5,
h5 {
  @include fontapercu;
  font-size: 15px;
  line-height: 2;
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  blockquote & {
    margin: 0;
  }
}

.header-content {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  h1,
  h2,
  h3,
  h4,
  h5 {
    word-wrap: normal;
    overflow-wrap: normal;
    hyphens: manual;
  }

  &.tile.content {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    h1,
    h2,
    h3,
    h4,
    h5 {
      @include word-wrap;
    }
  }
}

div,
p {
  @include fontsectra;
  margin: 0;
}

label {
  cursor: pointer;
  text-transform: uppercase;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;

  &,
  a {
    font-size: .72222rem;
  }
}

sup {
  top: -.27777rem;
}

.footnotes {
  dd {
    margin: 0 0 $gutter-sm $gutter-xl;
  }

  dt {
    min-width: $gutter-xl;
    float: left;
    clear: both;

    &::before {
      content: '\005B';
    }

    &::after {
      content: '\005d';
    }
  }
}

.button,
.more-link a,
.nav-accordeon label,
.tabs label,
.tile-link,
a {
  @include fontapercu;
  font-size: .81rem;
  letter-spacing: .025rem;

  .tile-subtitle,
  .tile-title {
    font-size: 18px;
  }
}

.link-tooltip {
  text-transform: none;
  border-bottom: 2px solid $secondary;

  &:hover {
    border-color: transparent;
    overflow: visible;
  }
}

.small,
.small-typography,
.tile.note,
.tile.small,
small {
  &,
  div,
  h5,
  p {
    font-size: 15px;
    line-height: 1.666666em;
  }

  &,
  &.font-apercu,
  a {
    font-size: .83333rem;
    line-height: $gutter-m;
  }

  &-xs {
    &,
    a,
    span {
      @media #{$gl-xs} {
        font-size: .83333rem;
        line-height: $gutter-l;
      }
    }
  }
}

.tile-link {
  font-size: .73333rem;
}

a {
  @include fontapercu;
  text-decoration: none;
  color: $primary;
  text-transform: uppercase;

  &,
  div {
    font-weight: 900;
  }

  &,
  & > *::after,
  & > *::before {
    transition: color .12s ease-in-out;
  }

  &:hover,
  &:hover > *::after,
  &:hover > *::before,
  &:hover > i::after {
    color: $secondary;
  }

  .tile-note.bg-secondary & {
    &:hover,
    &:hover > *::after,
    &:hover > *::before {
      color: $white;
    }
  }

  &.tile-wrapper:hover .button-round {
    background: $primarydarken;
  }

  .footer-site & {
    line-height: 30px;
  }

  &.multiline {
    position: relative;
    display: block;
    max-width: 24em;

    [class^='icon-'] {
      position: absolute;
      left: 0;
      line-height: 1.6;
    }

    span {
      display: inline-block;
      font-size: .84rem;
      margin-left: 1.4rem;
    }

    &-bottom {
      [class^='icon-'] {
        position: absolute;
        bottom: 0;
      }

      span {
        margin: 0;
        padding-bottom: 1.5rem;
      }
    }
  }
}

mark {
  background: $secondary;
}

blockquote {
  margin: 0;
}

em,
i {
  @include fontsectraitalic;

  & a {
    @include fontsectraitalic;
    text-transform: none;
    font-style: italic;
  }
}

address {
  @include fontsectra;
  font-style: normal;
}

.button,
.more-link a {
  background: $primarydarken;
  border: 0;
  color: $secondary;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: bold;
  padding: .4rem .5rem;
  letter-spacing: .05em;
  transition: background-color .3s, opacity .3s;

  &:focus {
    outline: none;
  }

  &.bg-primarydarken {
    color: $secondary;
    background: $primarydarken;
  }

  &.bg-secondary {
    color: $primary;
    background: $secondary;
  }

  .load {
    transition: .3s cubic-bezier(.175, .885, .32, 1.275);
  }

  &-square {
    padding: 0;
    text-align: center;
    font-size: 1.11111rem;
    height: 2.77778rem;
    line-height: 2.77778rem;
    width: 2.77778rem;
    text-transform: none;
    vertical-align: baseline;
  }

  &-round {
    text-align: center;
    width: 2rem;
    text-transform: none;
    vertical-align: baseline;
    line-height: 2rem;
    border-radius: 50%;
    padding: 0;

    &-description {
      @include fontapercu;
      @include user-select;
      text-transform: uppercase;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      width: 70px;
      font-size: 11px;
      line-height: 1.4;

      [class*='icon'] {
        font-size: 36px;
        line-height: 70px;
      }

      .button-round {
        width: 70px;
        height: 70px;
        margin-bottom: $gutter-s;
      }
    }
  }

  &-info {
    font-size: 1rem;
  }

  &-round-www {
    font-size: .7rem;
    width: 2.6rem;
    line-height: 2.6rem;
  }

  &:hover {
    background-color: $primarydarken;
    color: $secondary;
  }

  &-round-description:hover {
    color: $secondary;

    .button-round {
      color: $secondary;
      background: $primarydarken;
    }
  }

  &.bg-primarydarken:hover {
    background: $secondary;
    color: $primarydarken;
  }

  .nav-search-and-filter & {
    &:hover {
      background: inherit;
      color: inherit;
    }
  }

  &[class*='color-grey'] {
    &:hover {
      color: $secondary;
      background-color: transparent;
    }
  }

  &-switch {
    color: $white;
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;

    i {
      color: $white;

      &::after {
        color: $white;
      }
    }

    input[data-list-type*='block']:checked ~ * &[data-list-type*='block'],
    input[data-list-type*='block']:checked ~ &[data-list-type*='block'],
    input[data-list-type*='list']:checked ~ * &[data-list-type*='list'],
    input[data-list-type*='list']:checked ~ &[data-list-type*='list'] {
      background-color: $grey50;
    }
  }
}

input[data-list-type='list'] {
  & ~ *[rel*='layout-list-switchable'] {
    &[class*='conditional-grid'] {
      & [class*='grid'] {
        margin: 0;

        > [class*='col'] {
          width: 100%;
          padding: 0;
          max-width: none;
          flex-basis: auto;
        }
      }
    }
  }
}

input[data-list-type='list']:checked {
  & ~ *[rel*='layout-list-switchable'] {
    [class*='grid'],
     &[class*='grid'] {
      > [class*='col'] {
        max-width: $glp-col-12-of-14;
        flex-basis: $glp-col-12-of-14;
      }
    }

    &[class*='conditional-grid'] {
      @include make-col(#{$gl-col-name});

      .#{$gl-col-name},
      [class*='#{$gl-col-name}-'] {
        padding: 0 ($gl-gutter / 2) $gl-col-bottom;
      }
    }
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
@each $breakpoint in map-keys($breakpoints) {
  @include breakpoint($breakpoint) {
    .text-#{$breakpoint}-right {
      text-align: right;
    }

    .text-#{$breakpoint}-left {
      text-align: left;
    }

    .text-#{$breakpoint}-center {
      text-align: center;
    }
  }
}

.text-normal {
  font-weight: normal;
}

.text-bold,
.text-emphasized,
strong {
  @include fontapercu
}

.text-italic {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-none {
  text-transform: none;
}

.no-underline {
  text-decoration: none;
}

.no-wrap {
  white-space: nowrap;
}

.wb-break-all {
  word-break: break-all;
}

:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder,
::-webkit-input-placeholder,
:placeholder-shown {
  color: $secondary;
}

.typography {
  p {
    margin-bottom: 2rem;
  }
}
// Errors

.error-color {
  color: $error;
}

.group-title {
  .carousel-umbrella &,
  .content-lists section &,
  .nav &,
  .stage & {
    margin: 2.777777rem 0;
  }
}

.field--name-field-mpiwg-grey-box-entry-textc,
.paragraph--type--mpiwg-text-paragraph  {
  h2
  .h2 {
    color: $grey75;
    font-size: 25px;
  }
}

.paragraph--type--mpiwg-text-paragraph .accordion-content {
  h1,
  h2,
  h3,
  h4 {
    color: $grey75;
  }
  h2 {
    font-size: 25px;
  }
}
