.form-with-style,
form {
  [type='checkbox']:checked,
  [type='checkbox']:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type='checkbox']:checked + label,
  [type='checkbox']:not(:checked) + label {
    @include user-select;
    position: relative;
    padding-left: 2em;
    cursor: pointer;
  }

  [type='checkbox']:checked + label::before,
  [type='checkbox']:not(:checked) + label::before {
    transition: all .12s;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    background: $white;
  }

  [type='checkbox']:checked + label::before {
    background: $primarydarken;
  }

  [type='checkbox']:checked + label::after,
  [type='checkbox']:not(:checked) + label::after {
    content: url('~mpiwg_sass_theme/lib/images/check.svg');
    fill: $primary;
    font-size: 1.3em;
    position: absolute;
    top: .08em;
    left: .12em;
    line-height: .8;
    transition: all .12s;

    .arrow {
      fill: $primarydarken;
    }
  }

  [type='checkbox']:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0);
  }

  [type='checkbox']:checked + label::after {
    opacity: 1;
    transform: scale(1);
  }

  [type='checkbox']:disabled:checked + label::before,
  [type='checkbox']:disabled:not(:checked) + label::before {
    box-shadow: none;
    background-color: $grey15;
  }

  [type='checkbox']:disabled:checked + label::after {
    color: $grey50;
  }

  [type='checkbox']:disabled + label {
    color: $grey25;
  }
}

.bg-primarydarken {
  [type='checkbox']:checked + label::before {
    background: $secondary;
  }

  &.more-link {
    background-color: transparent;
    text-align: center;

    a {
      background-color: $primarydarken;
      color: $secondary;

      &:hover {
        background: $secondary;
        color: $primarydarken;
      }
    }
  }
}

.bg-secondary {
  [type='checkbox']:checked + label::before {
    background: $primarydarken;
  }

  [type='checkbox']:checked + label::after,
  [type='checkbox']:not(:checked) + label::after {
    content: url('~mpiwg_sass_theme/lib/images/check.svg');
    fill: $secondary;
  }

  a:hover {
    color: $white;
  }
}