.#{$choices-selector} {
  position: relative;
  margin-bottom: $choices-guttering;
  font-size: $choices-font-size-lg;

  &:focus {
    outline: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.is-disabled {
    .#{$choices-selector}-inner,
    .#{$choices-selector}-input {
      background-color: $choices-bg-color-disabled;
      cursor: not-allowed;
      user-select: none;
    }

    .#{$choices-selector}-item {
      cursor: not-allowed;
    }
  }
}

.#{$choices-selector}[data-type*='select-one'] {
  cursor: pointer;

  .#{$choices-selector}-inner {
    padding-bottom: 7.5px;
    padding-top: 3.5px;
  }

  .#{$choices-selector}-input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: $choices-bg-color-dropdown;
    margin: 0;
  }

  .#{$choices-selector}-button {
    background-image: url('~mpiwg_sass_theme/lib/images/cross-inverse.svg');
    padding: 0;
    background-size: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: .5;

    &:focus,
    &:hover {
      opacity: 1;
    }

    &:focus {
      box-shadow: 0 0 0 2px $choices-highlight-color;
    }
  }

  &::after {
    font-family: 'mpiwg-icons';
    content: '\e90b';
    display: inline-block;
    transform: rotate(-90deg);
    position: absolute;
    right: 11.5px;
    top: 31%;
    margin-top: -2.5px;
    pointer-events: none;
    transition: .1s transform;
  }

  &.is-open::after {
    transform: rotate(90deg) translateY(2px);
    border-color: transparent transparent $choices-text-color;
  }

  &[dir='rtl'] {
    &::after {
      left: 11.5px;
      right: auto;
    }

    .#{$choices-selector}-button {
      right: auto;
      left: 0;
      margin-left: 25px;
      margin-right: 0;
    }
  }
}

.#{$choices-selector}[data-type*='select-multiple'],
.#{$choices-selector}[data-type*='text'] {
  .#{$choices-selector}-inner {
    cursor: text;
  }

  .#{$choices-selector}-button {
    position: relative;
    display: inline-block;
    margin: 0 -$choices-button-offset / 2 0 $choices-button-offset;
    padding-left: $choices-button-offset * 2;
    border-left: 1px solid darken($choices-primary-color, 10%);
    background-image: url('~mpiwg_sass_theme/lib/images/cross.svg');
    background-size: $choices-button-dimension;
    width: $choices-button-dimension;
    line-height: 1;
    opacity: .75;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }
}

.#{$choices-selector}-inner {
  @include fontapercu;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: $choices-bg-color;
  padding: 0 13.5px;
  border-radius: $choices-border-radius;
  font-size: $choices-font-size-md;
  overflow: hidden;

  .is-focused &,
  .is-open & {
    border-color: darken($choices-keyline-color, 15%);
  }

  .is-open & {
    border-radius: $choices-border-radius $choices-border-radius 0 0;
  }

  .is-flipped.is-open & {
    border-radius: 0 0 $choices-border-radius $choices-border-radius;
  }
}

.#{$choices-selector}-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.#{$choices-selector}-list--single {
  display: inline-block;
  padding: 7px 16px 7px 4px;
  width: 100%;

  [dir='rtl'] & {
    padding-right: 4px;
    padding-left: 16px;
  }

  .#{$choices-selector}-item {
    width: 100%;
  }
}

.#{$choices-selector}-list--multiple {
  display: inline;

  .#{$choices-selector}-item {
    display: inline-block;
    vertical-align: middle;
    border-radius: $choices-border-radius-item;
    padding: 4px 10px;
    font-size: $choices-font-size-sm;
    margin: 3.75px;
    background-color: $choices-primary-color;
    color: $choices-bg-color-dropdown;
    word-break: break-all;

    &[data-deletable] {
      padding-right: 5px;
    }

    [dir='rtl'] & {
      margin-right: 0;
      margin-left: 3.75px;
    }

    &.is-highlighted {
      background-color: darken($choices-primary-color, 5%);
      border: 1px solid darken($choices-primary-color, 10%);
    }

    .is-disabled & {
      background-color: darken($choices-disabled-color, 25%);
      border: 1px solid darken($choices-disabled-color, 35%);
    }
  }
}

.#{$choices-selector}-group {
  @include fontapercu;
}

.#{$choices-selector}-list--dropdown {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: $choices-bg-color-dropdown;
  top: 100%;
  margin-top: 4px;
  border-bottom-left-radius: $choices-border-radius;
  border-bottom-right-radius: $choices-border-radius;
  overflow: hidden;
  word-break: break-all;

  &.is-active {
    display: block;
  }

  .is-open & {
    border-color: darken($choices-keyline-color, 15%);
  }

  .is-flipped & {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: .25rem .25rem 0 0;
  }

  .#{$choices-selector}-list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    will-change: scroll-position;
  }

  .#{$choices-selector}-item {
    position: relative;
    padding: 15px;
    font-size: $choices-font-size-md;

    [dir='rtl'] & {
      text-align: right;
    }
  }

  .#{$choices-selector}-item--selectable {
    @media (min-width: 640px) {
      padding-right: 100px;

      &::after {
        content: attr(data-select-text);
        font-size: $choices-font-size-sm;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      [dir='rtl'] & {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px;

        &::after {
          right: auto;
          left: 10px;
        }
      }
    }

    &.is-highlighted {
      background-color: mix($black, $choices-bg-color-dropdown, 5%);

      &::after {
        opacity: .5;
      }
    }
  }
}

.#{$choices-selector}-item {
  @include fontapercu;
  cursor: default;
}

.#{$choices-selector}-item--selectable {
  cursor: pointer;
}

.#{$choices-selector}-item--disabled {
  cursor: not-allowed;
  user-select: none;
  opacity: .5;
}

.#{$choices-selector}-heading {
  @include fontapercu;
  font-size: $choices-font-size-sm;
  padding: 10px;
  border-bottom: 1px solid lighten($choices-keyline-color, 10%);
  color: lighten($grey25, 30%);
}

.#{$choices-selector}-button {
  text-indent: -9999px;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

form .#{$choices-selector}-inner .#{$choices-selector}-input {
  display: inline-block;
  vertical-align: baseline;
  font-size: $choices-font-size-md;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 0;
  height: 2.5rem;
  background-color: $choices-bg-color;

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  [dir='rtl'] & {
    padding-right: 2px;
    padding-left: 0;
  }
}

.#{$choices-selector}-placeholder {
  opacity: .5;
}

.hidden-ie {
  display: none;
}

.visible-ie {
  display: block;
}