.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.label--above {
  display: block;
}

.label--inline {
  display: inline-block;
}

.label--visually_hidden {
  @extend .visually-hidden;
}