section.completeheaders {
  max-width: 100%;
  padding: 0 1em;
}

.page-header {
  margin-top: 30px;

  h4 {
    margin-bottom: 20px;
  }
}

div.stage {
  max-width: 955px;
  margin-left: auto;
  margin-right: auto;
}

header {
  nav {
    &.nav-mobile {
      z-index: 1000;

      &.sticky {
        display: none;
        will-change: top;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        transition: top .2s;

        &.sticky-hiden {
          top: -3rem;
        }
        @media #{$gl-xs} {
          display: block;
        }
      }
    }

    &.nav-flyout {
      display: block;
      @media #{$gl-xs} {
        display: none;
      }
    }
  }
}