audio,
canvas,
progress,
video {
  max-width: 100%;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: .8em;
}

.field-name-field-text {
  header.stage .stagecontent & p {
    max-width: 100%;
  }

  p {
    margin-bottom: $gutter-sm;
  }

  blockquote {
    &::after,
    &::before {
      display: block;
    }

    &::before {
      content: '»';
    }

    &::after {
      content: '«';
    }
  }

  video {
    display: flex;
    margin: 0 auto;
  }
}

.page-content p {
  margin-bottom: $gutter-l;
}

.content-lists {
  &.department-working-groups-grid,
  .feature-story {
    .tile {
      margin-bottom: $gutter-sm;
    }
  }

  &-blog-comment {
    margin: 0 auto;
    max-width: 659px;

    .border-bottom {
      margin-bottom: $gutter-l;
    }

    mark {
      display: none;
    }

    header {
      margin-bottom: $gutter-xl;
    }

    p {
      margin-top: $gutter-m;
    }
  }

  .col-10-md-12-xs-14 {
    padding-bottom: 0;
  }

  .view-content {
    margin-top: 2rem;
  }

  &-news {
    .border-bottom {
      margin-bottom: 1.666666rem;
    }

    .col-10-of-14-xs-9 {
      .col-4-of-14-xs-3 {
        padding-bottom: 0;
      }
    }
  }

  &-press {
    .view-content {
      margin-top: 0;
      width: 100%;
    }
  }

  &-video {
    article {
      margin: 0;
    }
  }

  .nav-accordeon {
    margin-bottom: 2rem;
  }

  .news-years {
    display: inline-block;
  }

  .umbrella-grid-content {
    .h3 {
      display: block;
      margin: 0;
      width: 100%;
    }
  }

  &-blog-comment,
  &-books,
  &-mediathek,
  &-news,
  &-people,
  &-projects {
    .border-bottom {
      margin: 0;
      padding: 0 0 $gutter-sm;
    }
  }

  &-blog-comment,
  &-books,
  &-podcast,
  &-video {
    div[class*='col-'] {
      padding-bottom: $gutter-xl;
    }
    @media #{$gl-xs} {
      div[class$='-xs-8'] {
        padding-bottom: 0;
      }
    }
  }

  &-projects {
    @media #{$gl-xs} {
      div[class*='col-'] {
        padding-bottom: $gutter-xl;
      }

      div[class$='-xs-8'] {
        padding-bottom: 0;
      }
    }

    .tile {
      &-3-4 {
        width: 65%;
        min-width: 110px;
        @media #{$gl-md} {
          min-width: initial;
          width: 100%;
        }
        float: right;
      }
    }
  }

  &-people {
    @media #{$gl-xs} {
      div[class*='col-'] {
        padding-bottom: $gutter-xl;
      }

      div[class^='col-4-of-14'] {
        padding-bottom: 0;
      }
    }

    p {
      max-width: 22em;
    }
  }

  &-events {
    section .h3,
    section h3 {
      margin-bottom: $gutter-s;
    }
  }

  &-books,
  &-featurestory {
    p {
      margin-top: $gutter-sm;
    }

    blockquote {
      padding-bottom: $gutter-xl;
    }
  }
}

.node--type-mpiwg-base-landingpage {
  .figure-caption {
    width: 100%;
    
    .small {
      width: 100%;

      .caption-text-under {
        width: 100%;
        margin: .5rem 14.29% 2rem;
      }
    }
  }
}

.caption-text-under {
  margin-top: .5rem;
}

.figure-caption,
.figure-without-caption,
.text-caption {
  label {
    width: auto;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  &-tooltip {
    figure {
      position: relative;

      .tile {
        &[class*='col'] {
          padding: 0;
        }
      }
    }

    figcaption,
    figcaption[class*='col'],
    .textcaption,
    .textcaption[class*='col'] {
      @include fontsectra;
      display: none;
      position: absolute;
      left: $gutter-xl;
      right: -($gutter-xl);
      bottom: 0;
      margin-bottom: -($gutter-xl);
      padding: $gutter-sm;
    }

    label {
      display: inline-block;
      width: 100%;
      text-align: right;
      padding: 0;
      position: absolute;
      top: auto;
      bottom: ($gutter-s / 2);
      right: ($gutter-s / 2);

      &:hover {
        cursor: pointer;
      }
    }

    input {
      display: none !important;
    }

    input:checked {
      & ~ .textcaption,
      & ~ figcaption {
        display: inline-block;
        z-index: map-get($z-index, 'figureTooltip');
      }

      & ~ label {
        &::after {
          content: ' ';
          width: 100%;
          height: 100%;
          display: block;
          position: fixed;
          left: 0;
          top: 0;
          z-index: map-get($z-index, 'figureTooltipBtn');
        }
      }
    }
  }

  &-visible {
    figcaption {
      margin-top: $gutter-sm;
    }
  }
}

.caption-text-under,
.figure-caption-tooltip {
  text-align: left;
}

.content-lists.huge-module {
  padding-top: 0;
  border-bottom: 0;
}

.list-content {
  .field {
    margin-bottom: 1.11111rem;
  }

  .field-label {
    font-family: 'Apercu Pro', Helvetica, Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
    font-size: .83333rem;
    letter-spacing: .01rem;
    font-style: normal;
  }
}

header.stage .stage-content p {
  @include word-wrap;
  max-width: none;
}

.page-header {
  .intranet-header {
    display: block;
    color: $secondary;
  }
}

.news-apply-button {
  text-align: right;

  .form-actions {
    margin: 0;
  }

  input {
    background-color: $secondary;
    color: $primary;
  }
}

.header-content {
  margin: 0 auto;
  max-width: 818px;
  width: 100%;
}

.paragraph {
  margin: 0 auto $gutter-l;
  max-width: 818px;
  width: 100%;

  h5 {
    margin-top: 0;

    * {
      font-weight: bold;
      font-family: 'Apercu Pro', Helvetica, Roboto, Arial, sans-serif;
    }
  }

  &.mar-top-XL {
    margin-top: $gutter-xl;
  }

  &.related-content {
    padding: 50px 0;

    h5 {
      margin-top: 0;
      width: 100%;
      margin-bottom: 10px;

      * {
        font-weight: bold;
        font-family: 'Apercu Pro', Helvetica, Roboto, Arial, sans-serif;
      }
    }

    .paragraph-type-group-links {
      .grid.center {
        padding: 0;
        justify-content: left;
      }
    }
  }

  &.paragraph-type-image {
    margin-bottom: 0;
  }
}

.paragraph.paragraph--type--mpiwg-accordion.paragraph--view-mode--default,
.paragraph.paragraph--type--mpiwg-accordion-image.paragraph--view-mode--default {
  max-width: 100%;
}

.field--name-field-mpiwg-media-image {
  text-align: center;

  .col-14 {
    display: inline-block;
  }

  .bg-grey25 {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 100%;
  }

  .figure-caption.grid,
  .figure-without-caption.grid {
    margin: 0;
  }

  .tile {
    font-size: 0;
    width: auto;
    display: inline-block;
    position: relative;
  }

  .col-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  .col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.paragraph-links.related-content {
  margin: 0 auto 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  .related-inner {
    justify-content: center;

    > div {
      margin-top: 0;
      padding-bottom: 0;
    }

    .multiline {
      margin-bottom: .5rem;
    }
  }

  .group-links-left.col-12 {
    a.multiline {
      max-width: 100%;
    }
  }
}

.background-figcaption {
  &.figure-caption-tooltip.grid {
    margin: 0;
  }

  &.background-with-note {
    position: relative;
    right: 22%;
  }

  label {
    width: 36px;
  }
}

.field--name-field-mpiwg-text,
.field-type-text-long,
header.stage .field--name-field-mpiwg-text,
header.stage .field-type-text-long {
  position: relative;

  ul {
    @extend .list-triangle;
  }
}

.paragraph-type-colorbox-images {
  position: relative;

  label {
    position: relative;
    display: block;
    font-size: 0;
  }

  .field-name-field-text {
    text-align: center;
    font-size: $fontsize-xs;
  }

  .iconfont_demo {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 5px;
    padding-top: 5px;
    font-size: #{$max-font}px;

    .icon-pfeil_rechts-oben {
      margin-left: 0;
    }
  }

  .figure-caption-tooltip {
    margin: 0;
  }

  .with-caption.colorbox-image {
    .field-name-field-text {
      margin-top: .5rem;
      margin-bottom: 0;
    }
  }

  .colorbox-image-inner {
    display: inline-block;
    position: relative;
  }

  .colorbox-image {
    overflow: hidden;
  }

  .lightbox-item {
    .with-caption {
      .grid.center {
        display: none;
      }
    }

    &:hover {
      .icon-pfeil-rechts-oben {
        background-color: $secondary;

        &::after {
          color: #004646;
        }
      }
    }
  }

  .lightbox-carousel-bgrd .lightbox-carousel-imgs {
    img {
      width: auto;
    }
  }
  
  @media #{$gl-md} {
    .lightbox-carousel-bgrd .lightbox-carousel-imgs {
      margin-top: 3rem;
      
      img {
        margin-bottom: 0;
      }
    }
  }
}

.teaser {
  margin-bottom: 1rem;
}

.news-teaser .tile-title {
  a {
    @include fontapercu;
    text-decoration: none;
    color: $primary;
    text-transform: uppercase;

    &:hover {
      color: $secondary;
    }
  }
}

.project-content {
  .page-content {
    margin-top: 2rem;
  }
}

.paragraph-type-image-text {
  .grid.center {
    margin: 0;
  }

  [class*='col-'] {
    padding-bottom: 0;
  }

  [class*='col-3'] {
    padding-right: $gutter-l;
    padding-left: 0;
  }
}

.field-name-field-media-type,
.field-name-field-podcast-locations,
.field-name-field-podcast-media-permanant-id {
  .field-item {
    margin-bottom: $gutter-l;
  }
}

.paragraph-type-group-links {
  padding-top: 0;

  [class*='grid'][class*='col-']:not([class*='col-0']) {
    display: block;
  }

  h5 {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }

  a {
    margin-left: $gutter-m;
    margin-right: $gutter-m;
    max-width: calc(50% - 3rem);
  }

  .col-14 {
    max-width: 678px;
  }

  .paragraph-type-links & {
    h5 {
      text-align: left;
    }

    a {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }

    .col-14 {
      max-width: 100%;
    }

    .grid.center {
      justify-content: left;
      padding: 0;
    }
  }
}

.list-links-title {
  &::after {
    display: none;
  }
}

.hidden {
  display: none !important;
}

.event-date {
  font-size: .83333333rem;
  font-weight: bold;
  font-family: 'Apercu Pro', Helvetica, Roboto, Arial, sans-serif;
}

header {
  &.stage-book.stage-personal {
    .stage-content {
      height: auto;
    }

    .list-links {
      margin-top: 1.66666rem;
    }

    .page-content {
      padding: 0 3rem 1.666666rem;

      .col-6 {
        flex-basis: 50%;
        max-width: 50%;

        h4 {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    .related-content {
      .grid.center.related-inner {
        & > div {
          margin-top: 0 !important;
          padding-bottom: 0 !important;
        }

        .field-label {
          margin-top: 0;
        }

        .field-item {
          padding: 0;
          margin-bottom: .5rem;
        }
      }
    }

    .download.related-content {
      margin: 2rem 0;
    }
  }

  &.stage-news .stage-content {
    .h4 {
      padding-bottom: 2rem;
    }

    .h2,
    h2 {
      margin-top: $gutter-l;
    }

    .tile-quicklink {
      .h2 {
        margin-top: 0;
      }
    }
  }

  &.stage-podcast .stage-content {
    .h2 {
      margin-top: $gutter-m;
      margin-bottom: 0;
    }

    .h3 {
      margin-bottom: $gutter-m;
    }

    &.with-sections-content {
      padding-right: 3rem;
    }
  }

  &.stage-personal {
    a.multiline [class^='icon-'] {
      position: relative;
      margin-left: 0;
    }
  }

  &.stage-video {
    .stage-content {
      position: relative;

      .media {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      .h4 {
        margin-top: -2rem;
      }
    }

    .page-content {
      padding: 0;
    }
  }
}

.profile-content {
  margin: 0 auto;
  max-width: 889px;
}

.block-entity-fieldprofilefield-scholar-keywords {
  .list-links-keywords {
    .button:hover {
      color: $secondary;
    }
  }
}

.nav-accordeon-list-accord-group li section.accordion-content-sec .tile-quicklink a:hover {
  background-color: $primarydarken;
}

.block-entity-fieldnodefield-page-content {
  padding-top: 0;
  padding-bottom: 0;
}

.with-back-button {
  margin-bottom: $gutter-xl * 2;
}

.block-title {
  // margin-top: 0;
  color: $grey100;
}

.events-calendar-wrapper {
  padding-bottom: 0;
}

.several-speakers {
  @include fontapercu;
  padding-left: 0;
  margin-right: 0;

  .stage-content & {
    display: none;
  }
}

.content-lists,
.nav-accordeon-list {
  .list-links {
    & .speakers-hidden {
      display: none;
    }
  }
}

input.accordion-helper {
  &:checked ~ header {
    .speakers-hidden {
      display: inline;
    }

    .several-speakers {
      display: none;
    }
  }
}

.newsletter-subscribe {
  margin: $gutter-xl auto 0;
  max-width: 818px;

  .block-title {
    margin-top: 0;
  }

  .block-image-link {
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 230px;

    .bg-image {
      height: 100%;
    }
  }
}

.block-image-link {
  max-width: 290px;

  .bg-image {
    padding: 1em;
    background-size: 100%;
  }

  .h2 {
    margin: 0;
  }

  a {
    @include fontsectra;
    text-transform: none;
    font-size: 40px;
  }
}

#views-exposed-form-scholar-profiles-archived-people-list .form-item-end,
#views-exposed-form-scholar-profiles-archived-people-list .form-item-start,
.form-item-field-scholar-presence-end-value,
.form-item-field-scholar-presence-value-max,
.form-item-field-scholar-presence-value-min {
  display: none;
}

.comment-form {
  margin-top: $gutter-l * 3;

  .field-name-field-comment-email,
  .field-name-field-comment-name {
    flex-basis: $glp-col-6;
    max-width: $glp-col-6;
    @media #{$gl-md} {
      flex-basis: $glp-col-7;
      max-width: $glp-col-7;
    }
    @media #{$gl-xs} {
      flex-basis: $glp-col-14;
      max-width: $glp-col-14;
    }
  }

  .form-control {
    border: 0;
    background-color: $grey15;
  }
}

input[data-drupal-selector='edit-unsubscribe'] {
  background-color: $primarydarken;
  color: $secondary;
}

.figure-caption-node {
  .small div {
    display: inline-block;
    position: relative;
    font-size: 0;
  }

  figcaption {
    font-size: $fontsize-xs;
  }
}

.text-caption-tooltip {
  display: inline-block;
  margin-left: .3rem;
  margin-right: .3rem;
  position: relative;

  label {
    display: inline-block;
    width: auto;
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
  }

  .textcaption {
    min-width: 35rem;
    max-width: 45rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    right: auto;
    @media #{$gl-xs} {
      min-width: 20rem;
      max-width: 25rem;
    }
  }
}

.content-panel-main .huge-module:first-child {
  padding-top: 0;
}

.intranet-header {
  .huge-module {
    padding-top: $gutter-xl;
    padding-bottom: $gutter-xl;
  }
}

header.mar-bottom-XL {
  .stage-note .tile {
    margin-bottom: -$gutter-xl;
  }
}

.figure-caption-tooltip,
.paragraph-type-links,
.paragraph-type-quick-links-group,
.tile-content,
header.stage .tile-content {
  @include word-wrap;
}

.paragraph-type-accordion .accordion-content {
  h1,
  h2,
  h3,
  h4 {
    color: $grey75;
  }

  h2 {
    font-size: 25px;
  }
}

.field--name-field-mpiwg-text,
.paragraph-type-image-text {
  .h2,
  h2 {
    color: $grey75;
    font-size: 25px;
  }
}

.figure-caption-tooltip img {
  display: block;
  margin: 0 auto;
}

.tile figcaption {
  p {
    margin: 0;
  }

  a {
    display: inline-block;
  }
}

.border-bottom {
  border-bottom: solid 3px $grey75;
}

blockquote {
  p {
    &[class*='col'] {
      padding-bottom: $gutter-s;
    }
  }

  q {
    quotes: '»' '«' '›' '‹';

    &::after,
    &::before {
      display: block;
    }
  }
}

.leading-zero {
  counter-reset: items;

  li {
    display: block;
    counter-increment: items;
    padding-left: $gutter-xl;
    margin-bottom: $gutter-xl;
  }

  li::before {
    content: '0' counter(items);
  }

  li:nth-child(n+10)::before {
    content: counter(items);
  }
}

.to-top {
  float: right;

  i {
    position: relative;
    bottom: -.4rem;
  }
}

.messages {
  position: relative;
  background-position: 10px 20px;

  &.close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
}