.flatpickr-calendar {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  animation: none;
  direction: ltr;
  border: 0;
  line-height: 24px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background: $grey25;

  &:focus {
    outline: none;
  }

  input,
  span {
    @include fontapercu;
  }
}

.flatpickr-calendar.inline,
.flatpickr-calendar.open {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  max-height: 640px;
}

.flatpickr-calendar.open {
  display: inline-block;
  animation: flatpickrFadeInDown 300ms cubic-bezier(0, 1, .5, 1);
  z-index: map-get($z-index, 'datepicker');
}

.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 2px;
}

.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px);
}

.flatpickr-calendar.static.open {
  z-index: 999;
  display: block;
}

.flatpickr-calendar.hasWeeks {
  width: auto;
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  height: 40px;
  border-top: 1px solid $grey25;
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto;
}

.flatpickr-calendar.rightMost::after,
.flatpickr-calendar.rightMost::before {
  left: auto;
  right: 22px;
}

.flatpickr-calendar::before {
  border-width: 5px;
  margin: 0 -5px;
}

.flatpickr-calendar::after {
  border-width: 4px;
  margin: 0 -4px;
}

.flatpickr-calendar.arrowTop::after,
.flatpickr-calendar.arrowTop::before {
  bottom: 100%;
}

.flatpickr-calendar.arrowTop::before {
  border-bottom-color: $grey25;
}

.flatpickr-calendar.arrowTop::after {
  border-bottom-color: $white;
}

.flatpickr-calendar.arrowBottom::after,
.flatpickr-calendar.arrowBottom::before {
  top: 100%;
}

.flatpickr-calendar.arrowBottom::before {
  border-top-color: $grey25;
}

.flatpickr-calendar.arrowBottom::after {
  border-top-color: $white;
}

.flatpickr-wrapper {
  position: relative;
  display: inline-block;
}

.flatpickr-month {
  background: transparent;
  // color: rgba(0,0,0,0.9);
  // fill: rgba(0,0,0,0.9);
  height: (1rem + ($gutter-sm*2));
  // line-height: 24px;
  // text-align: center;
  position: relative;
  user-select: none;
}

.flatpickr-next-month,
.flatpickr-prev-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 160px;
  height: 16px;
  line-height: 16px;
}

.flatpickr-next-month i,
.flatpickr-prev-month i {
  position: relative;
}

.flatpickr-next-month.flatpickr-prev-month,
.flatpickr-prev-month.flatpickr-prev-month {
  left: calc(1.5% - 1.5px);
}

.flatpickr-next-month.flatpickr-next-month,
.flatpickr-prev-month.flatpickr-next-month {
  right: calc(1.5% - 1.5px);
}

.flatpickr-next-month:hover,
.flatpickr-prev-month:hover {
  color: $secondary;
}

.flatpickr-next-month:hover svg,
.flatpickr-prev-month:hover svg {
  fill: $secondary;
}

.flatpickr-next-month svg,
.flatpickr-prev-month svg {
  fill: $white;
  width: 20px;
}

.flatpickr-next-month svg path,
.flatpickr-next-month svg path,
.flatpickr-prev-month svg polygon,
.flatpickr-prev-month svg polygon {
  transition: fill .1s;
  fill: inherit;
}

.numInputWrapper {
  position: relative;
  height: auto;
}

.numInputWrapper input,
.numInputWrapper span {
  display: inline-block;
}

.numInputWrapper input {
  width: 100%;
}

.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(57, 57, 57, .05);
  box-sizing: border-box;
}

.numInputWrapper span:hover {
  background: rgba(0, 0, 0, .1);
}

.numInputWrapper span:active {
  background: rgba(0, 0, 0, .2);
}

.numInputWrapper span::after {
  display: block;
  content: '';
  position: absolute;
  top: 33%;
}

.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}

.numInputWrapper span.arrowUp::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57, 57, 57, .6);
}

.numInputWrapper span.arrowDown {
  top: 50%;
}

.numInputWrapper span.arrowDown::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57, 57, 57, .6);
}

.numInputWrapper span svg {
  width: inherit;
  height: auto;
}

.numInputWrapper span svg path {
  fill: $white;
}

.numInputWrapper:hover span {
  opacity: 1;

  svg path {
    fill: $secondary;
  }
}

.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  // position: absolute;
  width: 84%;
  margin: auto;
  padding: $gutter-sm 0;
  // left: 12.5%;
  // top: 5px;
  display: block;
  // text-align: center;
}

.flatpickr-current-month span.cur-month {
  // H4 styles
  font-size: 15px;
  line-height: 1.666666rem;
  color: inherit;
  display: inline-block;
  margin-left: 7px;
  padding: 0;
}

.flatpickr-current-month .numInputWrapper {
  width: 7ch \0;
  display: inline-block;
}

.flatpickr-current-month .numInputWrapper span.arrowUp::after {
  border-bottom-color: rgba(0, 0, 0, .9);
}

.flatpickr-current-month .numInputWrapper span.arrowDown::after {
  border-top-color: rgba(0, 0, 0, .9);
}

.flatpickr-current-month input.cur-year {
  font-size: 15px;
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: default;
  padding: 0 0 0 .5ch;
  margin: 0;
  display: inline;
  font-weight: 300;
  line-height: inherit;
  height: initial;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
}

.flatpickr-current-month input.cur-year:focus {
  outline: 0;
}

.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, .5);
  background: transparent;
  pointer-events: none;
}

.flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
}

.flatpickr-days,
.flatpickr-weeks {
  padding: 1px 0 0;
}
.dayContainer,// MPI-871 week days have smaller width than months

.flatpickr-days {
  padding: 0;
  // padding: 0 0 0 46px;
  outline: 0;
  text-align: left;
  width: 226px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flatpickr-day {
  background: $white;
  border: 1px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 26px;
  height: 26px;
  line-height: 23px;
  margin: 3px 2px;
  display: inline-block;
  position: relative;
  justify-content: center;
  text-align: center;

  a {
    color: inherit;
  }

  &.weekend {
    background: $grey15;
  }

  &.busy,
  &.weekend.busy {
    background: $secondary;

    a:hover {
      color: $primary;
    }
  }

  &.today.busy &.today,
  &.today.weekend.busy {
    a:hover {
      color: $white;
    }
  }
}

.flatpickr-day.busy:hover,
.flatpickr-day.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.nextMonthDay:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.today.inRange,
.flatpickr-day.today.inRange:hover,
.flatpickr-day.today.inRange:hover,
.flatpickr-day.today.selected,
.flatpickr-day.today.selected:hover,
.flatpickr-day.weekend.busy:hover,
.flatpickr-day.weekend:hover,
.flatpickr-day:focus,
.flatpickr-day:hover {
  cursor: pointer;
  outline: 0;
  background: $grey50;
  border-color: $grey50;

  a,
  a:hover {
    color: inherit;
  }
}

.flatpickr-day.busy.today,
.flatpickr-day.today,
.flatpickr-day.today.nextMonthDay,
.flatpickr-day.today.prevMonthDay,
.flatpickr-day.weekend.busy.today {
  background: $primarydarken;
  border-color: $primarydarken;
  color: $secondary;
}

.flatpickr-day.today.weekend.busy:focus,
.flatpickr-day.today.weekend.busy:hover,
.flatpickr-day.today.weekend:focus,
.flatpickr-day.today.weekend:hover,
.flatpickr-day.today:focus,
.flatpickr-day.today:hover {
  background: $primarydarken;
  border-color: $primarydarken;
  color: $white;
}

.flatpickr-day.endRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover {
  background: $grey50;
}

.flatpickr-day.endRange.startRange,
.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange {
  border-radius: 50px 0 0 50px;
}

.flatpickr-day.endRange.endRange,
.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange {
  border-radius: 0 50px 50px 0;
}

.flatpickr-day.endRange.startRange.endRange,
.flatpickr-day.selected.startRange.endRange,
.flatpickr-day.startRange.startRange.endRange {
  border-radius: 50px;
}

.flatpickr-day.inRange {
  border-radius: 0;
  box-shadow: -5px 0 0 $grey25, 5px 0 0 $grey25;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover {
  pointer-events: none;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.nextMonthDay,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.prevMonthDay {
  color: $grey15;
  background: transparent;
  cursor: default;
}

span.flatpickr-weekday {
  cursor: default;
  font-size: 80%;
  height: 27.333333333333332px;
  line-height: 24px;
  background: transparent;
  text-align: center;
  display: block;
  float: left;
  width: 14.28%;
  font-weight: bold;
  margin: 0;
  padding-top: 3.333333333333333px;
}

.flatpickr-weekwrapper {
  display: inline-block;
  float: left;
}

.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 1px 12px 0;
  box-shadow: 1px 0 0 $grey25;
}

.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
}

.flatpickr-weekwrapper span.flatpickr-day {
  display: block;
  width: 100%;
  max-width: none;
}

.flatpickr-innerContainer {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: $gutter-sm;
}

.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

.flatpickr-time {
  text-align: center;
  outline: 0;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  transition: height .33s cubic-bezier(0, 1, .5, 1);
  display: flex;
}

.flatpickr-time::after {
  content: '';
  display: table;
  clear: both;
}

.flatpickr-time .numInputWrapper {
  flex: 1;
  width: 40%;
  height: 40px;
  float: left;
}

.flatpickr-time .numInputWrapper span.arrowUp::after {
  border-bottom-color: $secondary;
}

.flatpickr-time .numInputWrapper span.arrowDown::after {
  border-top-color: $secondary;
}

.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}

.flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}

.flatpickr-time input {
  background: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  cursor: pointer;
  color: $secondary;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
}

.flatpickr-time input.flatpickr-hour {
  font-weight: bold;
}

.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  font-weight: 400;
}

.flatpickr-time input:focus {
  outline: 0;
  border: 0;
}

.flatpickr-time .flatpickr-am-pm,
.flatpickr-time .flatpickr-time-separator {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: $secondary;
  font-weight: bold;
  width: 2%;
  user-select: none;
}

.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}

.flatpickr-time .flatpickr-am-pm:focus,
.flatpickr-time .flatpickr-am-pm:hover {
  background: $grey15;
}

.hasTime .flatpickr-days,
.hasWeeks .flatpickr-days {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.hasWeeks .flatpickr-days {
  border-left: 0;
}
@media all and (-ms-high-contrast: none) {
  .flatpickr-month {
    padding: 0;
  }

  .flatpickr-month svg {
    top: 0;
  }
}

.flatpickr-input[readonly] {
  cursor: pointer;
}
@-moz-keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.events-calendar {
  margin-top: -10rem;
  padding: 0;

  .form-item {
    margin: 0;
  }

  .event-calendar {
    display: none;
  }
}

.slideLeft,
.slideRight {
  display: none;
}