.logo-type {
  margin-bottom: 3rem;
  padding-top: 2rem;

  h4 {
    line-height: 1.4rem;
  }
  
  .no-gutter > .col {
    padding-right: 1.666666666rem;
    @media #{$gl-xs} {
      padding-right: .55555rem;
      max-width: 75%;
    }
  }

  div,
  h4 {
    padding-bottom: 0;
    margin-top: 0;
  }

  img {
    padding-right: 1.666666666rem;
  }

  h4 {
    color: $sitenamecolor;

    span.logo-name-en {
      text-transform: none;
      display: block;
      @media #{$gl-xs} {
        display: none;
      }
    }
  }
}

.header-wrapper {
  background: $white;
}