body.opened {
  .huge-iframe-wrapper {
    left: 240px;
    width: calc(100% - 240px);
    max-width: calc(100% - 240px);
  }
}

.huge-module {
  max-width: 955px;
  margin: 0 auto;
  clear: both;
  padding: 2em 1em;

  &:last-child {
    border-bottom: 0;
  }
}

.huge-iframe-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  max-width: initial;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: left $transition-length cubic-bezier(.37, .62, .47, .72), width $transition-length cubic-bezier(.37, .62, .47, .72);
  transition: left $transition-length cubic-bezier(.37, .62, .47, .72), width $transition-length cubic-bezier(.37, .62, .47, .72);
  background-color: $structure-border-color;
  position: relative;

  iframe {
    border: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: calc(100% - #{$header-height}) !important;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: width $transition-length ease-in-out;
    transition: width $transition-length ease-in-out;
    margin: 0 auto;
  }
}

.huge-iframe-content {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 0 0;
  background-color: $white;

  iframe {
    border: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 15rem;
    width: 100%;
    max-width: 100%;
    -webkit-transition: width $transition-length ease-in-out;
    transition: width $transition-length ease-in-out;
    margin: 0 auto;
  }
}

.huge-module__toggle-code {
  display: block;
  text-indent: -9999999px;
  height: 1.5em;
  opacity: .5;
  margin-bottom: 15px;
  position: relative;
  z-index: 9;
  float: right;
  clear: right;
  min-width: 30px;
}

pre[class*='language-'] > code[data-language] {
  overflow: auto;
}