.search-popup {
  position: relative;
}

#search-modal-trigger {
  position: absolute;
  top: -15px;
  right: -70px;
  z-index: 10;

  &:hover {
    .icon-lupe {
      color: $secondary;
    }
  }
  @media #{$gl-md} {
    top: -8px;
    right: auto;
    left: 80px;
    width: 50px;
    height: 50px;
    background-color: transparent;
  }

  .icon-lupe {
    font-size: 24px;
    color: $primarydarken;
    @media #{$gl-md} {
      color: $secondary;
    }
  }
}

#search-modal {
  .modal-content {
    background-color: $secondary;
  }
}

.search-dropdown {
  &--hidden {
    display: none;
  }

  .block-views {
    padding-top: 2rem;
  }

  &.nav-accordeon.nav-search-and-keywords .nav-accordeon-list {
    display: block;
    padding-top: 0;
    @media #{$gl-sm-plus} {
      max-height: none;
    }
  }
}

.view-display-id-intranet_search_page,
.view-id-welcome_page_search.view-display-id-welcome_page_search_page {
  .view-filters {
    display: none;
  }
}

.search-results-total {
  @include fontapercu;
}
// Search results page
header.stage.stage-search {
  .views-row {
    margin-bottom: $gutter-xl;
  }

  .stage-content {
    h3 {
      margin: 0 0 $gutter-s;
    }

    p {
      margin: 0;
      max-width: none;
    }
  }
}