.huge-sidebar__toggle--in {
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  right: 0;
  z-index: 10;
  width: 45px;
  position: fixed;
  padding: 0;
  height: 35px;
  background: none;
  left: 187px;
  top: 15px;

  a {
    display: inline-block;
    float: none;
    text-indent: -99999px;
    position: relative;
    width: 15px;
    height: 2px;
    background: $white;
    clear: both;
    margin: 16px auto 0;

    &::before {
      display: block;
      float: left;
      clear: both;
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background: #777;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
    }

    &::after {
      display: block;
      float: left;
      clear: both;
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background: #777;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0;
    }
  }
}

.huge-sidebar__toggle--out {
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  height: 63px;
  width: 63px;
  background-color: $magenta;
  padding: 20px 0 10px;
  z-index: 10;
  position: absolute;

  &:hover a {
    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }

  a {
    display: inline-block;
    float: none;
    text-indent: -99999px;
    position: relative;
    width: 23px;
    height: 2px;
    background: #fff;
    clear: both;
    margin: 10px auto 0;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;

    &::before {
      display: block;
      float: left;
      clear: both;
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      top: -4px;
      left: 0;
      background: #fff;
      -webkit-transition: all .15s ease-out;
      transition: all .15s ease-out;
    }

    &::after {
      display: block;
      float: left;
      clear: both;
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background: #fff;
      -webkit-transition: all .15s ease-out;
      transition: all .15s ease-out;
    }
  }
}

.huge-sidebar__logo {
  display: block;
  width: 140px;
  margin: 29px 0 40px 29px;
}

.huge-sidebar__content {
  position: fixed;
  background-color: $sidebar-background-color;
  border-right: 1px solid $structure-border-color;
  -webkit-transition: -webkit-transform $transition-length cubic-bezier(.37, .62, .47, .72);
  -webkit-transform: translateX(-240px);
  transition: transform $transition-length cubic-bezier(.37, .62, .47, .72);
  transform: translateX(-240px);
  height: 100%;
  width: $sidebar-opened-width;
  z-index: 11;
  overflow: auto;

  img {
    width: 80%;
    display: block;
    margin: 1em auto;
  }
}

.huge-sidebar__nav {
  margin-top: 30px;
}

.huge-sidebar__nav__item__link {
  display: block;
  padding: 12px 16px 12px 29px;
  color: $grey25;
  font-family: 'Apercu Pro', sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  border-left: 0 solid $magenta;
  outline: none;
  transition: all .4s ease;

  &.active,
  &:hover {
    color: $magenta;
    transition: all .4s ease;
    border-left: 4px solid $magenta;
  }
}

body.opened {
  .huge-sidebar__content {
    position: fixed;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.huge-sidebar__content {
  svg {
    margin: 90px 0 12px;
    width: 140px;
  }
}

#huge-logo {
  fill: #000;
}