.welcome-screen {
	max-width: 100%;

	h3 {
		margin: 10px 0;
		font-size: 40px !important;
		line-height: 50px;
	}

	#liveClockTicker {
		line-height: 100px;
		font-size: 25px !important;
	}

	h5 {
		line-height: 100px;
		padding-left: 100px !important;
		font-size: 25px !important;
	}

	header {
		line-height: 100px;
		padding-left: 100px !important;
		font-size: 25px;
	}

	.list-links {
		display: inline;

		li {
			a,
			span {
				text-transform: none;
			}

			span {
				@include fontsectra;
				font-size: 25px !important;
				line-height: 15px;
				padding-top: 0;
			}
		}

		.item,
		.pipe {
			display: inline;

			span {
				&::after {
					font-size: 14px;
				}
			}
		}

		.pipe {
			@include fontapercu;
			font-size: 25px;
		}

		.event-top {
			span {
				@include fontapercu;
			}
		}
	}

	.current-events {
		padding: 0 !important;
		position: relative;

		p {
			font-size: 25px !important;
			line-height: 35px;
		}

		.tile-note p {
			font-size: $fontsize-xs !important;
		}

		&::before {
			@include absolute(top 0 left 0 right 0 bottom 100px);
			content: '';
			z-index: 1;
			background: $primarydarken;
			display: block;
		}

		[class*='col'] {
			z-index: 10;
		}
	}

	.tile-note {
		&::before {
			border-color: $white $white $secondary $secondary;
		}

		.tile-content {
			align-items: start;
			top: auto;
			right: 18px;
			bottom: auto;
			left: 18px;

			.col {
				padding: 18px;
			}
		}

		em,
		p {
			@include word-wrap;
		}
	}

	.book-cover {
		margin-left: 14.28571%;
		flex-basis: 35.71429%;
		width: 35.71429%;
		flex: 0 0 auto;
		padding-bottom: 220px;

		img {
			max-height: 680px;
			max-width: none;
			height: auto;
			width: auto;
		}
	}

	.block-region-content {
		display: flex;
		position: relative;
		padding: 0 50px;
	}

	.col-6 {
		-ms-flex-preferred-size: 42.85714%;
		flex-basis: 42.85714%;
		width: 42.85714%;
		padding: 0;
	}

	.col-3-bottom {
		flex-basis: 21.42857%;
		max-width: 21.42857%;
		margin-left: -14.28571%;
		padding: 0;
	}

	&-title {
		font-size: 25px !important;
		line-height: 35px;

		li,
		p,
		ul {
			display: inline;
			margin-bottom: 0;
		}

		a {
			@include fontsectra;
			font-size: 25px;
		}
	}

	&-project {
		display: inline;

		.list-links span::before {
			content: ' ';
			display: inline;
			border-right: 2px solid $primarydarken;
			font-size: 14px;
			position: relative;
			top: -.1rem;
			margin: .555555rem 0 0;
		}
	}

	.several-speakers {
		span {
			@include fontsectra;

			&::after {
				display: none;
			}
		}
	}

	&-speakers {
		display: inline;
	}
}

.page-node-type-lobby-tv {
	.button-ultimenu {
		display: none;
	}
}